@charset "UTF-8";
/**========================================================================
 **                            INCLUDE BOOTSTRAP
 *========================================================================**/
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  font-size: 16px;
  margin: 0 auto;
}

/**========================================================================
 **                            GENERIC
 *========================================================================**/
.title {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.3em;
}

.subtitle, #Examples .img-sign {
  margin: 7.5rem 0 5rem 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: uppercase;
}
.subtitle.img-sign, #Examples .img-sign {
  margin: 2.5rem 0 0 0;
  text-transform: none;
}

/**========================================================================
 **                            BODY
 *========================================================================**/
body {
  z-index: -10;
  overflow-x: hidden;
  background-color: color-mix(in srgb, #fff, #FF9800 4%);
}

#wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding: 0 16px 0 16px;
}

/**========================================================================
 **                            HEADER
 *========================================================================**/
header {
  position: relative;
  overflow: hidden;
  padding: 5rem 0 3.75rem 0;
}
header #bc-square-1 {
  z-index: -5;
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: rgba(209, 196, 233, 0.1019607843);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%) rotate(6deg);
}
header #bc-square-2 {
  z-index: -6;
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: rgba(255, 224, 178, 0.1019607843);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%) rotate(-19deg);
}

.logo, .offcanvas-logo {
  font-size: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  color: #512DA8;
}
.logo #icon, .offcanvas-logo #icon {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #512DA8;
  width: 8.125em;
  height: 8.125em;
}
.logo .logo-name, .offcanvas-logo .logo-name {
  margin-left: 2em;
  display: inline-flex;
  flex-direction: column;
}
.logo .logo-name b, .offcanvas-logo .logo-name b {
  font-family: "Russo One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 0.35em;
}
.logo .logo-name i, .offcanvas-logo .logo-name i {
  margin-left: 0.25em;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em;
  letter-spacing: 0.55em;
}

@media (max-width: 1199.98px) {
  .logo, .offcanvas-logo {
    font-size: 0.75rem;
  }
}
.offcanvas-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 991.98px) {
  .offcanvas-logo {
    font-size: 0.375rem;
  }
}
.contacts-and-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contacts-and-settings .contacts {
  display: inherit;
  flex-direction: inherit;
}
.contacts-and-settings .contacts button {
  margin-right: 0.5rem;
}
.contacts-and-settings .settings {
  display: inherit;
  flex-direction: inherit;
}
.contacts-and-settings .settings button {
  margin-left: 0.5rem;
}
.contacts-and-settings button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  --squircle-smooth: 1.0;
  --squircle-radius: 0.75rem;
  mask-image: paint(squircle);
  background-color: #512DA8;
  border: none;
  outline: none;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.8705882353);
}
.contacts-and-settings span {
  min-width: 1px;
  height: 2rem;
  width: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.8705882353);
  border-radius: 10rem;
  margin: 0 0.5rem 0 0.5rem;
}
.contacts-and-settings .contacts svg {
  width: 1.75rem;
  height: 1.75rem;
}
.contacts-and-settings .settings svg {
  width: 2.125rem;
  height: 2.125rem;
}
.contacts-and-settings svg {
  fill: inherit;
}
.contacts-and-settings button:hover {
  fill: #fff;
}

.menu {
  margin-top: 3.75rem;
}
.menu a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.3em;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8705882353);
  text-decoration: none;
}
.menu .menu-row {
  margin-top: 2.5rem;
}
.menu .menu-item {
  text-align: center;
}

@media (max-width: 991.98px) {
  .menu {
    text-align: left;
  }
  .menu .menu-item {
    text-align: left;
  }
}
/**========================================================================
 **                            MAIN
 *========================================================================**/
#Main {
  position: relative;
  padding: 10rem 0 10rem 0;
}
#Main #main-bc-img {
  z-index: -2;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#Main #main-fr-img {
  z-index: -1;
  position: absolute;
  background-image: url("/images/main_bc.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  filter: blur(2px);
}
#Main h1 strong div {
  margin-top: 2rem;
  font-size: 1.75rem;
  letter-spacing: 0.25em;
}
#Main .concretes-images {
  margin-top: 10rem;
}
#Main span {
  margin-top: 10rem;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-align: center;
  background: linear-gradient(90deg, #1b5e20 0%, #ff6f00 50%, #bf360c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1399.98px) {
  #Main span {
    font-size: 2.875rem;
  }
}

/**========================================================================
 **                            DESCRIPTION
 *========================================================================**/
#Description {
  position: relative;
  padding: 10rem 0 10rem 0;
}
#Description #bc-circle {
  z-index: -5;
  position: absolute;
  width: 186rem;
  height: 186rem;
  border-radius: 100%;
  /* Линейный градиент с тремя цветами и углом 45 градусов */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1c4e9+0,ffe0b2+100 */
  background: rgb(209, 196, 233); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZTBiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(255, 224, 178) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(209, 196, 233)), color-stop(100%, rgb(255, 224, 178))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(255, 224, 178) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(255, 224, 178) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(255, 224, 178) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(209, 196, 233) 0%, rgb(255, 224, 178) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d1c4e9", endColorstr="#ffe0b2",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  top: 19.125rem;
  left: 50%;
  transform: translate(-77%, -2.1%);
  opacity: 0.25;
}
@media (max-width: 1399.98px) {
  #Description #bc-circle {
    width: 148.8rem;
    height: 148.8rem;
  }
}
#Description .content {
  margin-top: 7.5rem;
}
#Description .content > *:not(:first-child) {
  margin-top: 1.75rem;
}
#Description p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-align: justify;
  text-indent: 7rem;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Description .concretes-images {
  margin-top: 7.5rem;
}

/**========================================================================
 **                            USE
 *========================================================================**/
#Usage {
  position: relative;
}
#Usage ul {
  margin-top: 7.5rem;
}
#Usage ul > *:not(:first-child) {
  margin-top: 1.5rem;
}
#Usage li {
  position: relative;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8705882353);
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
#Usage img {
  z-index: -2;
  position: absolute;
}
#Usage #bc-concrete-green {
  width: 33.75rem;
  height: 33.75rem;
  top: 50%;
  left: 50%;
  transform: translate(78%, -120%);
}
#Usage #bc-concrete-yellow {
  width: 12.5rem;
  height: 12.5rem;
  top: 50%;
  left: 50%;
  transform: translate(315%, -75%);
}
#Usage #bc-concrete-white {
  width: 25rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(85%, -18%);
}
#Usage #bc-concrete-grey {
  width: 12.5rem;
  height: 12.5rem;
  top: 50%;
  left: 50%;
  transform: translate(290%, 150%);
}
#Usage #bc-concrete-red {
  z-index: -1;
  width: 17.3125rem;
  height: 17.3125rem;
  top: 50%;
  left: 50%;
  transform: translate(120%, -120%);
}

/**========================================================================
 **                            EXAMPLES
 *========================================================================**/
#Examples {
  position: relative;
  margin-top: 10rem;
}
#Examples .img-with-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Examples .img-sign {
  margin: 2.5rem 0 0 0;
  text-transform: none;
}
#Examples .gradient-border {
  position: relative;
  display: inline-block;
  width: 37.5rem;
  height: auto;
  border-radius: 0.62rem;
  padding: 0.5rem;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
#Examples .gradient-border img {
  display: block;
  border-radius: 0.31rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#Examples .gradient-border#example-1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4caf50+0,ffeb3b+50,f44336+100 */
  background: rgb(76, 175, 80); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGNhZjUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZlYjNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0NDMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(76, 175, 80)), color-stop(50%, rgb(255, 235, 59)), color-stop(100%, rgb(244, 67, 54))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* IE10 preview */
  background: linear-gradient(45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4caf50", endColorstr="#f44336",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Examples .gradient-border#example-2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f44336+0,ffeb3b+50,4caf50+100 */
  background: rgb(244, 67, 54); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjQ0MzM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZlYjNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRjYWY1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(244, 67, 54)), color-stop(50%, rgb(255, 235, 59)), color-stop(100%, rgb(76, 175, 80))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f44336", endColorstr="#4caf50",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Examples .gradient-border#example-3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4caf50+0,ffeb3b+50,f44336+100 */
  background: rgb(76, 175, 80); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGNhZjUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZlYjNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0NDMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(76, 175, 80)), color-stop(50%, rgb(255, 235, 59)), color-stop(100%, rgb(244, 67, 54))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(76, 175, 80) 0%, rgb(255, 235, 59) 50%, rgb(244, 67, 54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4caf50", endColorstr="#f44336",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Examples .gradient-border#example-4 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f44336+0,ffeb3b+50,4caf50+100 */
  background: rgb(244, 67, 54); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjQ0MzM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZlYjNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRjYWY1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(244, 67, 54)), color-stop(50%, rgb(255, 235, 59)), color-stop(100%, rgb(76, 175, 80))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* IE10 preview */
  background: linear-gradient(45deg, rgb(244, 67, 54) 0%, rgb(255, 235, 59) 50%, rgb(76, 175, 80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f44336", endColorstr="#4caf50",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
@media (max-width: 1399.98px) {
  #Examples .gradient-border {
    width: 32.5rem;
    height: auto;
  }
}
@media (max-width: 1199.98px) {
  #Examples .gradient-border {
    width: 27.5rem;
    height: auto;
  }
}
#Examples #bc-circle {
  z-index: -5;
  position: absolute;
  width: 286rem;
  height: 286rem;
  border-radius: 100%;
  /* Линейный градиент с тремя цветами и углом 45 градусов */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe0b2+0,d1c4e9+70,d1c4e9+100 */
  background: rgb(255, 224, 178); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZlMGIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxYzRlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(255, 224, 178) 0%, rgb(209, 196, 233) 70%, rgb(209, 196, 233) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(255, 224, 178)), color-stop(70%, rgb(209, 196, 233)), color-stop(100%, rgb(209, 196, 233))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(255, 224, 178) 0%, rgb(209, 196, 233) 70%, rgb(209, 196, 233) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(255, 224, 178) 0%, rgb(209, 196, 233) 70%, rgb(209, 196, 233) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(255, 224, 178) 0%, rgb(209, 196, 233) 70%, rgb(209, 196, 233) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(255, 224, 178) 0%, rgb(209, 196, 233) 70%, rgb(209, 196, 233) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffe0b2", endColorstr="#d1c4e9",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  top: 50%;
  left: 50%;
  transform: translate(-38%, -23.1%);
  opacity: 0.25;
}
@media (max-width: 1399.98px) {
  #Examples #bc-circle {
    width: 228.8rem;
    height: 228.8rem;
  }
}

/**========================================================================
 **                            ADVANTAGES
 *========================================================================**/
#Advantages {
  margin: 10rem 0 10rem 0;
}
#Advantages .content {
  margin-top: 2.5rem;
}
#Advantages .content > *:first-child {
  margin-top: 7.5rem;
}
#Advantages .advantage-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#Advantages .advantage-header span {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 12.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Advantages .advantage-header strong {
  margin-left: 3.125rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Advantages .advantage p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.3em;
  text-align: justify;
  text-indent: 6rem;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Advantages .advantage#advantage-1 {
  margin-bottom: 5rem;
}
#Advantages .advantage#advantage-2 {
  margin-bottom: 2.75rem;
}
#Advantages .advantage#advantage-3 {
  margin-bottom: 6rem;
}
#Advantages .advantage#advantage-4 {
  margin-bottom: 3rem;
}
#Advantages .advantage#advantage-5 {
  margin-bottom: 4rem;
}
#Advantages .advantage#advantage-6 {
  margin-bottom: 2.5rem;
}

/**========================================================================
 **                            SAFETY
 *========================================================================**/
#Safety {
  position: relative;
}
#Safety .content {
  margin-top: 5rem;
}
#Safety .gradient-border {
  position: relative;
  display: inline-block;
  width: 37.5rem;
  height: auto;
  border-radius: 0.62rem;
  padding: 0.5rem;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
#Safety .gradient-border img {
  display: block;
  border-radius: 0.31rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#Safety .gradient-border#safety-doc-1, #Safety .gradient-border#safety-doc-5 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9800+0,673ab7+100;orange_to_purple */
  background: rgb(255, 152, 0); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY5ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3M2FiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(255, 152, 0)), color-stop(100%, rgb(103, 58, 183))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9800", endColorstr="#673ab7",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Safety .gradient-border#safety-doc-2, #Safety .gradient-border#safety-doc-6 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#673ab7+0,ff9800+100 */
  background: rgb(103, 58, 183); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjczYWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(103, 58, 183)), color-stop(100%, rgb(255, 152, 0))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* IE10 preview */
  background: linear-gradient(45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#673ab7", endColorstr="#ff9800",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Safety .gradient-border#safety-doc-3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9800+0,673ab7+100;orange_to_purple */
  background: rgb(255, 152, 0); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY5ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3M2FiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(255, 152, 0)), color-stop(100%, rgb(103, 58, 183))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* IE10 preview */
  background: linear-gradient(45deg, rgb(255, 152, 0) 0%, rgb(103, 58, 183) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9800", endColorstr="#673ab7",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#Safety .gradient-border#safety-doc-4 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#673ab7+0,ff9800+100;purple_to_orange */
  background: rgb(103, 58, 183); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjczYWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(103, 58, 183)), color-stop(100%, rgb(255, 152, 0))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(103, 58, 183) 0%, rgb(255, 152, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#673ab7", endColorstr="#ff9800",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
@media (max-width: 1399.98px) {
  #Safety .gradient-border {
    width: 32.5rem;
    height: auto;
  }
}
@media (max-width: 1199.98px) {
  #Safety .gradient-border {
    width: 27.5rem;
    height: auto;
  }
}
#Safety #bc-circle {
  z-index: -5;
  position: absolute;
  width: 400rem;
  height: 400rem;
  border-radius: 100%;
  /* Линейный градиент с тремя цветами и углом 45 градусов */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1c4e9+0,d1c4e9+30,ffe0b2+100 */
  background: rgb(209, 196, 233); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZTBiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(209, 196, 233) 30%, rgb(255, 224, 178) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(209, 196, 233)), color-stop(30%, rgb(209, 196, 233)), color-stop(100%, rgb(255, 224, 178))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(209, 196, 233) 30%, rgb(255, 224, 178) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(209, 196, 233) 30%, rgb(255, 224, 178) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg, rgb(209, 196, 233) 0%, rgb(209, 196, 233) 30%, rgb(255, 224, 178) 100%); /* IE10 preview */
  background: linear-gradient(135deg, rgb(209, 196, 233) 0%, rgb(209, 196, 233) 30%, rgb(255, 224, 178) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d1c4e9", endColorstr="#ffe0b2",GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  top: 50%;
  left: 50%;
  transform: translate(-65%, -26.5%);
  opacity: 0.25;
}
@media (max-width: 1399.98px) {
  #Safety #bc-circle {
    width: 320rem;
    height: 320rem;
  }
}

/**========================================================================
 **                            PRICES
 *========================================================================**/
#Prices {
  margin: 10rem 0 10rem 0;
}
#Prices .price-content {
  position: relative;
  margin-top: 5rem;
  --ball-size: 18.75rem;
}
#Prices .price-content #current-price {
  position: relative;
  margin: 24.75rem 0 24.75rem 0;
  width: 20.5rem;
  height: 20.5rem;
}
#Prices .price-content #current-price #bc-current-price-anim-wrapper {
  width: 100%;
  height: 100%;
  animation: scale-animation 6s ease-in-out infinite alternate;
}
@keyframes scale-animation {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.25);
  }
}
#Prices .price-content #current-price #bc-current-price-anim-wrapper #bc-current-price {
  width: 100%;
  height: 100%;
  fill: #B71C1C;
  animation: rotate-counter-clockwise 10s infinite linear;
}
@keyframes rotate-counter-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#Prices .price-content #current-price span {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 0.25em;
  text-align: center;
  color: #fff;
  text-transform: none;
  animation: wobble 10s infinite;
}
@keyframes wobble {
  0% {
    transform: translate(-45%, -52.5%) rotate(-21deg) rotate(-8deg);
  }
  50% {
    transform: translate(-45%, -52.5%) rotate(-21deg) rotate(8deg);
  }
  100% {
    transform: translate(-45%, -52.5%) rotate(-21deg) rotate(-8deg);
  }
}
@media (max-width: 1199.98px) {
  #Prices .price-content {
    --ball-size: 13.75rem;
  }
  #Prices .price-content #current-price {
    margin: 19.75rem 0 19.75rem 0;
  }
}
#Prices .price-content .orbit {
  z-index: -1;
  position: absolute;
  width: 20rem;
  height: 35rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
}
#Prices .price-content .orbit img {
  position: absolute;
  width: var(--ball-size);
  height: var(--ball-size);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1199.98px) {
  #Prices .price-content .orbit {
    width: 15rem;
    height: 30rem;
  }
}
#Prices .price-content #ball-green {
  animation: rotate-clockwise 10s infinite linear;
}
@keyframes rotate-clockwise {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
#Prices .price-content #ball-green img {
  animation: ball-rotate-counter-clockwise-0 10s infinite linear;
}
@keyframes ball-rotate-counter-clockwise-0 {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(-360deg);
  }
}
#Prices .price-content #ball-yellow {
  animation: rotate-clockwise-72 10s infinite linear;
}
@keyframes rotate-clockwise-72 {
  from {
    transform: translateX(-50%) rotate(72deg);
  }
  to {
    transform: translateX(-50%) rotate(432deg);
  }
}
#Prices .price-content #ball-yellow img {
  animation: ball-rotate-counter-clockwise-72 10s infinite linear;
}
@keyframes ball-rotate-counter-clockwise-72 {
  from {
    transform: translateX(-50%) rotate(-72deg);
  }
  to {
    transform: translateX(-50%) rotate(-432deg);
  }
}
#Prices .price-content #ball-white {
  animation: rotate-clockwise-144 10s infinite linear;
}
@keyframes rotate-clockwise-144 {
  from {
    transform: translateX(-50%) rotate(144deg);
  }
  to {
    transform: translateX(-50%) rotate(504deg);
  }
}
#Prices .price-content #ball-white img {
  animation: ball-rotate-counter-clockwise-144 10s infinite linear;
}
@keyframes ball-rotate-counter-clockwise-144 {
  from {
    transform: translateX(-50%) rotate(-144deg);
  }
  to {
    transform: translateX(-50%) rotate(-504deg);
  }
}
#Prices .price-content #ball-grey {
  animation: rotate-clockwise-216 10s infinite linear;
}
@keyframes rotate-clockwise-216 {
  from {
    transform: translateX(-50%) rotate(216deg);
  }
  to {
    transform: translateX(-50%) rotate(576deg);
  }
}
#Prices .price-content #ball-grey img {
  animation: ball-rotate-counter-clockwise-216 10s infinite linear;
}
@keyframes ball-rotate-counter-clockwise-216 {
  from {
    transform: translateX(-50%) rotate(-216deg);
  }
  to {
    transform: translateX(-50%) rotate(-576deg);
  }
}
#Prices .price-content #ball-red {
  animation: rotate-clockwise-288 10s infinite linear;
}
@keyframes rotate-clockwise-288 {
  from {
    transform: translateX(-50%) rotate(288deg);
  }
  to {
    transform: translateX(-50%) rotate(648deg);
  }
}
#Prices .price-content #ball-red img {
  animation: ball-rotate-counter-clockwise-288 10s infinite linear;
}
@keyframes ball-rotate-counter-clockwise-288 {
  from {
    transform: translateX(-50%) rotate(-288deg);
  }
  to {
    transform: translateX(-50%) rotate(-648deg);
  }
}

/**========================================================================
 **                            FORM
 *========================================================================**/
#Feedback-Form .content {
  margin-top: 5rem;
}
#Feedback-Form .concretes-pictures {
  height: 41rem;
  width: 41rem;
  position: relative;
}
#Feedback-Form .concretes-pictures img {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
#Feedback-Form .concretes-pictures #ball-green {
  top: 0;
  left: 0;
  z-index: -1;
  width: 76.22%; /* 31.25rem / 41rem * 100% */
  height: 76.22%; /* 31.25rem / 41rem * 100% */
}
#Feedback-Form .concretes-pictures #ball-yellow {
  z-index: -2;
  top: 28.05%; /* 11.5rem / 41rem * 100% */
  left: 54.88%; /* 22.5rem / 41rem * 100% */
  width: 45.73%; /* 18.75rem / 41rem * 100% */
  height: 45.73%; /* 18.75rem / 41rem * 100% */
}
#Feedback-Form .concretes-pictures #ball-white {
  top: 2.44%; /* 1rem / 41rem * 100% */
  left: 51.83%; /* 21.25rem / 41rem * 100% */
  width: 33.54%; /* 13.75rem / 41rem * 100% */
  height: 33.54%; /* 13.75rem / 41rem * 100% */
}
#Feedback-Form .concretes-pictures #ball-grey {
  top: 46.34%; /* 19rem / 41rem * 100% */
  left: 0;
  width: 54.27%; /* 22.25rem / 41rem * 100% */
  height: 54.27%; /* 22.25rem / 41rem * 100% */
}
#Feedback-Form .concretes-pictures #ball-red {
  top: 63.41%; /* 26rem / 41rem * 100% */
  left: 48.78%; /* 20rem / 41rem * 100% */
  width: 34.76%; /* 14.25rem / 41rem * 100% */
  height: 34.76%; /* 14.25rem / 41rem * 100% */
}
@media (max-width: 1399.98px) {
  #Feedback-Form .concretes-pictures {
    height: 35.5rem;
    width: 35.5rem;
  }
}
@media (max-width: 1199.98px) {
  #Feedback-Form .concretes-pictures {
    height: 20rem;
    width: 20rem;
  }
}
#Feedback-Form form {
  display: flex;
  flex-direction: column;
}
#Feedback-Form form .form-field {
  width: 100%;
  height: 5rem;
  padding: 0.25rem;
  border: none;
  border-radius: 1.25rem;
  background-color: #512DA8;
  --squircle-smooth: 0.78;
  --squircle-radius: 1.25rem;
  mask-image: paint(squircle);
}
#Feedback-Form form input[type=text], #Feedback-Form form input[type=tel] {
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.75rem 1.25rem 1.75rem;
  border: none;
  border-radius: 1.25rem;
  background-color: color-mix(in srgb, color-mix(in srgb, #fff, #FF9800 4%) 100%, #D1C4E9 5%);
  --squircle-smooth: 1.0;
  --squircle-radius: 1.25rem;
  mask-image: paint(squircle);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 200%;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Feedback-Form form input[type=text]:focus, #Feedback-Form form input[type=text]:active, #Feedback-Form form input[type=tel]:focus, #Feedback-Form form input[type=tel]:active {
  outline: none;
}
#Feedback-Form form input[type=text]:focus::placeholder, #Feedback-Form form input[type=tel]:focus::placeholder {
  color: #000;
}
#Feedback-Form form button {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1.25rem;
  --squircle-smooth: 1.0;
  --squircle-radius: 1.25rem;
  mask-image: paint(squircle);
  background-color: #512DA8;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 200%;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8705882353);
  text-transform: uppercase;
}
#Feedback-Form form button:hover {
  color: #fff;
}
#Feedback-Form form .checkbox-privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Feedback-Form form .checkbox-privacy-policy input[type=checkbox] {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.125rem solid #512DA8;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  margin-right: 0.75rem;
}
#Feedback-Form form .checkbox-privacy-policy input[type=checkbox]:checked {
  background-color: #512DA8;
  border: none;
}
#Feedback-Form form .checkbox-privacy-policy input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0.625rem;
  width: 0.475rem;
  height: 0.85rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}
#Feedback-Form form .checkbox-privacy-policy label {
  cursor: pointer;
}
#Feedback-Form form .checkbox-privacy-policy a {
  color: #512DA8;
  text-decoration: none;
}
#Feedback-Form form .checkbox-privacy-policy a:hover {
  text-decoration: underline;
}
@media (max-width: 1399.98px) {
  #Feedback-Form form .checkbox-privacy-policy {
    font-size: 0.8125rem;
  }
}

/**========================================================================
 **                            CONTACTS
 *========================================================================**/
#Contacts {
  margin: 10rem 0 10rem 0;
}
#Contacts h3 {
  margin: 5rem 0 1.25rem 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.8705882353);
}
#Contacts .contact, #Contacts strong, #Contacts a {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.8705882353);
  text-decoration: none;
}
/**========================================================================
 **                            FOOTER
 *========================================================================**/
footer {
  position: relative;
  overflow: hidden;
}
footer #bc-square-3 {
  z-index: -5;
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: rgba(209, 196, 233, 0.1019607843);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -6%) rotate(-16deg);
}
footer #bc-square-4 {
  z-index: -6;
  position: absolute;
  width: 120%;
  height: 200%;
  background-color: rgba(255, 224, 178, 0.1019607843);
  top: 50%;
  left: 50%;
  transform: translate(-47.4%, -50%) rotate(45deg);
}
footer h3 {
  margin: 0 0 1.25rem 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75rem;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.8705882353);
}
footer p, footer a {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-align: left;
  color: rgba(0, 0, 0, 0.8705882353);
  text-decoration: none;
}
footer .footer-part-1 {
  padding: 7.5rem 0 7.5rem 0;
}
footer .footer-part-1 .logo-and-privacy-policy {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
footer .footer-part-1 .logo-and-privacy-policy .logo, footer .footer-part-1 .logo-and-privacy-policy .offcanvas-logo {
  padding: 0;
  display: flex;
  align-items: center;
  color: #512DA8;
}
footer .footer-part-1 .logo-and-privacy-policy .logo svg, footer .footer-part-1 .logo-and-privacy-policy .offcanvas-logo svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #512DA8;
  width: 5.625rem;
  height: 5.625rem;
}
footer .footer-part-1 .logo-and-privacy-policy .logo .logo-name, footer .footer-part-1 .logo-and-privacy-policy .offcanvas-logo .logo-name {
  margin-left: 1.375rem;
  display: flex;
  flex-direction: column;
}
footer .footer-part-1 .logo-and-privacy-policy .logo .logo-name b, footer .footer-part-1 .logo-and-privacy-policy .offcanvas-logo .logo-name b {
  font-family: "Russo One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.06rem;
  letter-spacing: 0.35em;
}
footer .footer-part-1 .logo-and-privacy-policy .logo .logo-name i, footer .footer-part-1 .logo-and-privacy-policy .offcanvas-logo .logo-name i {
  margin-left: 0.1875rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.56rem;
  letter-spacing: 0.55em;
}
footer .footer-part-1 ul {
  margin: 0;
  padding: 0;
}
footer .footer-part-1 ul li:not(:first-child) {
  margin-top: 1rem;
}
footer .rounded-hr {
  border: none;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.8705882353);
  border-radius: 100%;
  margin: 0;
}
footer .copyright {
  padding: 5rem 0 5rem 0;
}
footer .copyright small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.8705882353);
}
footer .copyright #copyright-info {
  text-align: left;
}
footer .copyright #copyright-email {
  text-align: right;
}/*# sourceMappingURL=style.css.map */