/**========================================================================
 **                            HTML DOCUMENT BASE SETTINGS
 *========================================================================**/

 html {
    width: 100%;
    height: auto;

    font-size: var(--base-font-size);
    margin: 0 auto;

    scroll-behavior: smooth;
    overflow-x: hidden;

    // overflow-anchor: none;
}

.no-scroll {
    overflow: hidden;
}



/**========================================================================
 **                            BODY
 *========================================================================**/

 body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    margin: 0 auto;
    padding: 0 !important;
    
    z-index: -10;

    background-color: var(--finally-bc-color);
}