/**========================================================================
 **                            COLORS
 *========================================================================**/

:root {
    --bc-color: #fff;
    // --fr-color: #EFF8E2;
    --fr-color: #FFF3E0;

    --finally-bc-color: color-mix(in srgb, var(--bc-color), var(--fr-color) 8%);
    // --finally-bc-color: #F7F3E3;

    --my-text-heading-color: #121212de;

    --my-text-paragraph-color: #121212de;
    --my-text-paragraph-color-alt: #ffffffde;

    --color-bc-square-1: #D1C4E91A;

    --header-bc-color: color-mix(in srgb, var(--finally-bc-color) 100%, var(--color-bc-square-1));

    --menu-text-color: #212112de;
}

 $header_bc_color_square_1: #EDE7F63D;
 $header_bc_color_square_2: #FFF3E03D;
 
 $bc_color: #fff;
 // $fr_color: #FFE0B2; // 100
 $fr_color: #FF9800; // 500
 // $fr_color: #F57C00; // 700
 
 $fr_color:  #FF5252; // 200
 
 $color_deep_purple_700: #573280;
 $color_deep_purple_700: #4527A0;
 
 $text_color_white: #ffffffde;
 $text_color_black: #000000de;
//  $text_color_black: #23022Ede;
 
 // $finally_bc_color: color-mix(in srgb, $bc_color, $fr_color 4%);
 $finally_bc_color: #fffbf6;
 