/**========================================================================
 **                            LIGHT COLORS
 *========================================================================**/

:root, html[data-theme='light'] {
    // new colors
    --bc-color: #fff;

    --primary-color: #512DA8;
    --secondary-color: #FFF3E0;

    --primary-color--hover: #673AB7;
    --primary-color--active: #311B92;
    --primary-color--focus: var(--primary-color--active);

    --primary-color--tone-100: #D1C4E9C7;
    --secondary-color--tone-100: #ffe0b2C7;

    --primary-color--tone-500: #673AB7;
    --secondary-color--tone-500: #FF9800;

    --bc-circle-gradient-color-1: var(--primary-color--tone-500);
    --bc-circle-gradient-color-2: var(--secondary-color--tone-500);

    --finally-bc-color: color-mix(in srgb, var(--bc-color) 100%, var(--secondary-color) 8%);

    // text colors
    --text-color-60: #12121299;
    --text-color-alt-60: #ffffff99;

    --text-color-87: #121212de;
    --text-color-alt-87: #ffffffde;

    --text-color-100: #121212ff;
    --text-color-alt-100: #ffffffff;

    // form fields colors
    --form-field-bc-color: #fff;

    // accent colors
    --accent-color-green: #4CAF50;
    --accent-color-yellow: #FFEB3B;
    --accent-color-red: #F44336;

    --header-decoration-1--color: rgba(255, 255, 255, 0.18);
    --header-decoration-2--color: rgba(255, 255, 255, 0.12);

    --footer-decoration-1--color: rgba(255, 255, 255, 0.16);
    --footer-decoration-2--color: rgba(255, 255, 255, 0.10);

    // --offcanvas-bc-color: rgba(255, 255, 255, 0.37);
    --offcanvas-bc-color: color-mix(in srgb, var(--bc-color) 37%, var(--secondary-color) 8%);

    --box-shadow-color: rgba(0, 0, 0, 0.1);

    --hero-bc-color: #fff;

    --hero--accent-color-green: #1b5e20;
    --hero--accent-color-yellow: #ff6f00;
    --hero--accent-color-red: #bf360c;

    --usage--card-block-bc-color: rgba(255, 255, 255, 0.05);

    --prices--price-block-bc-color: #B71C1C;
}



/**========================================================================
 **                            DARK COLORS
 *========================================================================**/

 html[data-theme='dark'] {
    // new colors
    --bc-color: #121212;

    --primary-color: #FFAB91;
    --secondary-color: #B39DDB;

    --primary-color--hover: #FFCCBC;
    --primary-color--active: #FF8A65;
    --primary-color--focus: var(--primary-color--active);

    --primary-color--tone-100: #2e2c31C7;
    --secondary-color--tone-100: #2e2c31C7;

    // --primary-color--tone-500: rgba(255, 255, 255, 0.07);
    // --secondary-color--tone-500: rgba(255, 255, 255, 0.07);

    --primary-color--tone-500: #FFAB91;
    --secondary-color--tone-500: #B39DDB;

    --bc-circle-gradient-color-1: rgba(255, 255, 255, 0.14);
    --bc-circle-gradient-color-2: rgba(255, 255, 255, 0.14);

    --finally-bc-color: color-mix(in srgb, var(--bc-color) 100%, var(--secondary-color) 8%);

    // text colors
    --text-color-60: #ffffff99;
    --text-color-alt-60: #12121299;

    --text-color-87: #ffffffde;
    --text-color-alt-87: #121212de;

    --text-color-100: #ffffffff;
    --text-color-alt-100: #121212ff;

    // form fields colors
    --form-field-bc-color: color-mix(in srgb, var(--finally-bc-color) 100%, var(--primary-color) 5%);

    // accent colors
    --accent-color-green: #A5D6A7;
    --accent-color-yellow: #FFF59D;
    --accent-color-red: #EF9A9A;

    --header-decoration-1--color: rgba(255, 255, 255, 0.07);
    --header-decoration-2--color: rgba(255, 255, 255, 0.07);

    --footer-decoration-1--color: rgba(255, 255, 255, 0.07);
    --footer-decoration-2--color: rgba(255, 255, 255, 0.07);

    // --offcanvas-bc-color: rgba(18, 18, 18, 0.37);
    --offcanvas-bc-color: color-mix(in srgb, var(--bc-color) 37%, var(--secondary-color) 8%);

    --box-shadow-color: rgba(0, 0, 0, 0.1);

    --hero-bc-color: #121212;

    --hero--accent-color-green: #A5D6A7;
    --hero--accent-color-yellow: #FFF59D;
    --hero--accent-color-red: #EF9A9A;

    --usage--card-block-bc-color: rgba(255, 255, 255, 0.05);

    --prices--price-block-bc-color: #EF9A9A;
}