/**========================================================================
 **                            COLORS
 *========================================================================**/

 $header_bc_color_square_1: #D1C4E91A;
 $header_bc_color_square_2: #FFE0B21A;
 
 $button_size: 3.25rem;
 
 $bc_color: #fff;
 // $fr_color: #FFE0B2; // 100
 $fr_color: #FF9800; // 500
 // $fr_color: #F57C00; // 700
 
 $color_deep_purple_700: #512DA8;
 
 $text_color_white: #ffffffde;
 $text_color_black: #000000de;
 
 // $finally_bc_color: color-mix(in srgb, $bc_color, $fr_color 4%);
 $finally_bc_color: #fffbf6;
 