.nav-menu {
    position: fixed;
    
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;

    z-index: 1030;

    display: flex;
    flex-direction: row;

    width: auto;
    height: 100vh;

    .nav-menu-trigger {
        display: flex;

        width: 5vw;
        height: 100vh;

        max-width: 80px;
        min-width: 60px;

        padding: 2vh 1vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        background-color: $color_deep_purple_700;
        box-shadow: none;

        cursor: pointer;

        .test {
            width: 100%;
            height: 100px;
        }

        .logo {      
            transform: rotate(-90deg);
            
            font-size: .5rem;
        
            padding: 0;
        
            display: inline-flex;
            vertical-align: middle;
            width: 100%;
            height: auto;
            border: 0;
            align-items: center;
        
            color: #fff;
        
            .logo-icon {
                fill-rule: evenodd;
                clip-rule: evenodd;
        
                fill: #fff;
        
                width: 4.5rem;
                height: 4.5rem;
            }
        
            .logo-company-name-and-tagline-container {
                margin-left: 1em;
        
                display: inline-flex;
                flex-direction: column;
        
                .logo-company-name {
                    font-family: "Russo One", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
        
                    font-size: 1.5em;
                    letter-spacing: 0.35em;
                }
        
                // @include media-breakpoint-down(lg) {
                //     .logo-company-name {
                //         font-size: 1.75em;
                //     }
                // }
        
                .logo-tagline {
                    font-family: "Pattaya", sans-serif;
                    font-weight: 400;
                    font-style: normal;
        
                    font-size: 1em;
                    letter-spacing: 0.55em;
                }
        
                // @include media-breakpoint-down(lg) {
                //     .logo-tagline {
                //         font-size: 1.25rem;
                //     }
                // }
            }
        
            @include media-breakpoint-down(xxl) {
                font-size: 0.75rem;
            }
            
            @include media-breakpoint-down(lg) {
                font-size: 0.5625rem;
            }
        
            @include media-breakpoint-down(sm) {
                font-size: 0.27rem;
            }
        }
    }
}