/**========================================================================
 **                            SASS Variables
 *========================================================================**/

// // price and orbit animation block
// $my-current-price-block-size: 20.5rem;

// $my-ball-size: 20rem;
// $my-orbit-radius: 35rem;

// $my-current-price-block-margin: my-orbit-animation-calculate-margin($my-orbit-radius, $my-current-price-block-size);

// @include media-breakpoint-down(xl) {
//     // price and orbit animation block
//     $my-current-price-block-size: 20.5rem;

//     $my-ball-size: 20rem;
//     $my-orbit-radius: 35rem;

//     $my-current-price-block-margin: my-orbit-animation-calculate-margin($my-orbit-radius, $my-current-price-block-size);
// }

// @include media-breakpoint-down(lg) {
//     // price and orbit animation block
//     $my-current-price-block-size: 15rem;

//     $my-ball-size: 12rem;
//     $my-orbit-radius: 22.5rem;

//     $my-current-price-block-margin: my-orbit-animation-calculate-margin($my-orbit-radius, $my-current-price-block-size);
// }


/**========================================================================
 **                            CSS Variables
 *========================================================================**/

 :root {
    --my-text-header-title-margin-bottom: 7.5rem;

    --my-text-paragraph-margin-top: 1.75rem;
    --my-text-paragraph-font-size: 1.5rem;
    --my-text-paragraph-letter-spacing: 0.2em;

    --my-img-caption-font-size: 2rem;

    @include media-breakpoint-down(xl) {
        --my-text-header-title-margin-bottom: 3.5rem;

        --my-text-paragraph-margin-top: 1.75rem;
        --my-text-paragraph-font-size: 1.5rem;
        --my-text-paragraph-letter-spacing: 0.2em;
        
        --my-img-caption-font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        --my-text-header-title-margin-bottom: 2rem;

        --my-text-paragraph-margin-top: 0.78rem;
        --my-text-paragraph-font-size: .75rem;
        --my-text-paragraph-letter-spacing: 0.2em;
        
        --my-img-caption-font-size: 1rem;
    }
}

// @include media-breakpoint-down(lg) {
//     :root {
//         --my-text-paragraph-margin-top: 1.75rem;
//         --my-text-paragraph-font-size: 1.375rem;
//         --my-text-paragraph-letter-spacing: 0.2em;

//         --my-img-caption-font-size: 1.75rem;

//         // price and orbit animation block
//         --my-current-price-block-size: 20.5rem: 

//         --my-ball-size: 20rem;
//         --my-orbit-radius: 35rem;
//     }
// }