/**========================================================================
 **                            LIGHT COLORS
 *========================================================================**/

:root {
    // new colors
    --bc-color: #fff;

    --primary-color: #4527A0;
    --secondary-color: #FFF3E0;

    --primary-color--tone-100: #D1C4E9;
    --secondary-color--tone-100: #ffe0b2;

    --primary-color--tone-500: #673AB7;
    --secondary-color--tone-500: #FF9800;

    --finally-bc-color: color-mix(in srgb, var(--bc-color) 100%, var(--secondary-color) 8%);

    // text colors
    --text-color-87: #121212de;
    --text-color-alt-87: #ffffffde;

    --text-color-100: #121212ff;
    --text-color-alt-100: #ffffffff;

    // form fields colors
    --form-field-bc-color: #fff;

    // accent colors
    --accent-color-green: #4CAF50;
    --accent-color-yellow: #FFEB3B;
    --accent-color-red: #F44336;

    --header-decoration-1--color: rgba(255, 255, 255, 0.18);
    --header-decoration-2--color: rgba(255, 255, 255, 0.12);

    --footer-decoration-1--color: rgba(255, 255, 255, 0.16);
    --footer-decoration-2--color: rgba(255, 255, 255, 0.10);

    --offcanvas-bc-color: rgba(255, 255, 255, 0.37);
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    --hero-bc-color: #fff;

    --hero--accent-color-green: #1b5e20;
    --hero--accent-color-yellow: #ff6f00;
    --hero--accent-color-red: #bf360c;

    --usage--card-block-bc-color: rgba(255, 255, 255, 0.05);

    --prices--price-block-bc-color: #B71C1C;

    @media (prefers-color-scheme: dark) {
        // dark styles here
       
    }
}
 