/**========================================================================
 **                            ADVANTAGES
 *========================================================================**/

 #Advantages {
    // margin: 10rem 0 10rem 0;

    // .content {
    //     margin-top: 2.5rem;
    // }

    // .content>*:first-child {
    //     margin-top: 7.5rem;
    // }

    .advantage {

        .advantage-header {
            display: flex;
            flex-direction: row;
    
            align-items: center;
            justify-content: center;
    
            .advantage-number {
                display: inline-block;

                margin: 0;

                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 100;
                font-style: normal;
    
                font-size: 10.5rem;
                letter-spacing: 0;
                text-align: center;

                line-height: 100%;
    
                color: var(--text-color-87);

                font-variant-numeric: lining-nums;

                // @include media-breakpoint-down(lg) {
                //     font-size: 15.625rem;
                //     margin: -4.5rem 0 -4rem 0;
                // }

                @include media-breakpoint-down(sm) {
                    line-height: 80%;
                }
            }
    
            .advantage-brief-text {
                margin-left: 3.125rem;
    
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
    
                font-size: 1.5rem;
                letter-spacing: 0.22rem;
                
                text-align: left;
    
                color: var(--text-color-87);

                // @include media-breakpoint-down(lg) {
                    
                //     margin: 0;

                //     // font-size: 2.5rem;
                //     text-align: center;
                // }

                @include media-breakpoint-down(md) {
                    margin-left: 2rem;
                }

                @include media-breakpoint-down(sm) {
                    
                    margin: 1.25rem 0 .75rem 0;

                    font-size: 1.25rem;
                    text-align: center;
                }
            }
    
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        .advantage-extended-text {
            margin-top: 1.5rem;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;

            font-size: var(--my-text-paragraph-font-size);
            line-height: 1.5em;
            // letter-spacing: 0.3em;
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            text-align: justify;
            text-indent: 6rem;


            color: var(--text-color-87);

            @include media-breakpoint-down(lg) {
                text-indent: 4.5rem;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 0;
                // margin-bottom: var(--my-section-child-non-first-margin-top);

                text-indent: 0;
                text-align: center;
            }
        }

        &#advantage-1 {
            margin-bottom: 2.5rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-down(sm) {
                // margin-top: 1.5rem;
                margin-bottom: var(--my-section-child-non-first-margin-top);
            }
        }

        &#advantage-2 {
            margin-bottom: 1rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: var(--my-section-child-non-first-margin-top);
            }
        }

        &#advantage-3 {
            margin-bottom: 1.75rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: var(--my-section-child-non-first-margin-top);
            }
        }

        &#advantage-4 {
            margin-bottom: .75rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: var(--my-section-child-non-first-margin-top);
            }
        }

        &#advantage-5 {
            margin-bottom: 1rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: var(--my-section-child-non-first-margin-top);
            }
        }

        &#advantage-6 {
            margin-top: .75rem;
            margin-bottom: 0rem;

            @include media-breakpoint-down(lg) {
                margin: 0;
            }

            @include media-breakpoint-down(sm) {
                // .advantage-extended-text {
                //     margin-bottom: 0;
                // }

                margin-bottom: 0;
            }
        }

        @include media-breakpoint-down(md) {
            margin: 0;

            // font-size: .6rem;
        }

        @include media-breakpoint-down(sm) {
            display: inline-block;
        }
    }
}