/**========================================================================
 **                            DESCRIPTION
 *========================================================================**/

 #Description {
    position: relative;
    // overflow: hidden;

    #bc-decorative-circle {
        z-index: -5;

        position: absolute;

        width: 120rem;
        height: auto;

        aspect-ratio: 1 / 1;

        border-radius: 50%;

        /* Линейный градиент с тремя цветами и углом 45 градусов */
        // background-image: linear-gradient(147deg, #D1C4E900 0%, #D1C4E980 50%, #FFE0B2FF 100%);

        // background-image: url("/images/description_bc_circle.png");
        // background-repeat: none;
        // background-size: cover;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1c4e9+0,ffe0b2+100 */
        // background: rgb(209, 196, 233);
        background: linear-gradient(135deg, rgba(209, 196, 233, 1) 0%, rgba(255, 224, 178, 1) 100%);

        top: 19.125rem;
        left: 50%;

        transform: translate(-77%, -10.1%);

        opacity: 0.25;

        @include media-breakpoint-down(xl) {
            width: 135rem;

            transform: translate(-73.8%, -10.1%);
        }

        @include media-breakpoint-down(lg) {
            width: 140rem;

            transform: translate(-73.4%, -10.1%);
        }

        @include media-breakpoint-down(md) {
            width: 145rem;

            transform: translate(-73.4%, -9.8%);
        }

        @include media-breakpoint-down (sm) {
            display: none;
        }
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
        font-size: var(--my-text-paragraph-font-size);
        letter-spacing: var(--my-text-paragraph-letter-spacing);
    
        line-height: var(--my-text-paragraph-line-height);
    
        text-align: justify;
        text-indent: var(--my-text-paragraph-text-indent);
    
        color: $text_color_black;
    
        hyphens: none;
    
        &:not(:first-child) {
            margin-top: var(--my-text-paragraph-margin-top);
        }

        @include media-breakpoint-down(sm) {
            // font-size: 13px;

            // word-wrap: break-word;
            // overflow-wrap: break-word;

            text-indent: 0;
            text-align: left;

            // // text-align: left;
            // text-indent: 2.25em;
            // letter-spacing: 0em;

            // &:not(:first-child) {
            //     margin-top: 2.5rem;
            // }
        }
    }

    .image-container {
        margin-top: var(--my-section-child-non-first-margin-top);

        // @include media-breakpoint-down(lg) {
        //     margin-top: 3.5rem;
        // }

        // @include media-breakpoint-down(sm) {
        //     margin-top: 2rem;
        // }
    }
}