/**========================================================================
 **                            EXAMPLES
 *========================================================================**/

 #Examples {
    position: relative;

    // margin-top: 10rem;

    #examples-second-part {
        margin-top: 0;

        @include media-breakpoint-down(xxl) {
            margin-top: var(--my-section-child-non-first-margin-top);
        }
    }

    .container-for-image-and-caption {
        display: flex;
        flex-direction: column;

        align-items: center;

        .image-caption-before {
            @extend .caption;
    
            // @include media-breakpoint-down(lg) {
            //     margin: 1.5rem 0 3rem 0;
            // }

            // @include media-breakpoint-down(sm) {
            //     margin-bottom: var(--my-image-caption-margin-bottom);
            // }
        }
    
        .image-caption-after {
            @extend .caption;
    
            // @include media-breakpoint-down(lg) {
            //     margin: 1.5rem 0 3.5rem 0;
            // }

            // @include media-breakpoint-down(sm) {
            //     margin-bottom: var(--my-image-caption-margin-bottom);
            //     // margin: .9rem 0 var(--my-text-header-title-margin-bottom) 0;
            // }
        }

        .last {
            @extend .image-caption-after;

            @include media-breakpoint-down(sm) {
                margin: var(--my-text-caption-margin-top) 0 0 0;
            }
        }

        #example-1 {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4caf50+0,ffeb3b+50,f44336+100 */
            // background: rgb(76, 175, 80);
            background: linear-gradient(45deg, rgba(76, 175, 80, 1) 0%, rgba(255, 235, 59, 1) 50%, rgba(244, 67, 54, 1) 100%);
    
            background-size: 400% 400%;
    
            // img {
            //     visibility: hidden;
            // }
    
            animation: gradient-animation-ex-1 10s ease-in-out infinite;
    
            @keyframes gradient-animation-ex-1 {
                0% {
                    background-position: 0% 100%;
                }
                50% {
                    background-position: 100% 0%;
                }
    
                100% {
                    background-position: 0% 100%;
                }
            }
        }
    
        #example-2 {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f44336+0,ffeb3b+50,4caf50+100 */
            // background: rgb(244, 67, 54);
            background: linear-gradient(135deg, rgba(244, 67, 54, 1) 0%, rgba(255, 235, 59, 1) 50%, rgba(76, 175, 80, 1) 100%);
    
            background-size: 400% 400%;
    
            // img {
            //     visibility: hidden;
            // }
    
            animation: gradient-animation-ex-2 10s ease-in-out infinite;
    
            @keyframes gradient-animation-ex-2 {
                0% {
                    background-position: 100% 100%;
                }
                50% {
                    background-position: 0% 0%;
                }
    
                100% {
                    background-position: 100% 100%;
                }
            }
        }
    
        #example-3 {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4caf50+0,ffeb3b+50,f44336+100 */
            // background: rgb(76, 175, 80);
            background: linear-gradient(135deg, rgba(76, 175, 80, 1) 0%, rgba(255, 235, 59, 1) 50%, rgba(244, 67, 54, 1) 100%);
    
            background-size: 400% 400%;
    
            // img {
            //     visibility: hidden;
            // }
    
            animation: gradient-animation-ex-3 10s ease-in-out infinite;
    
            @keyframes gradient-animation-ex-3 {
                0% {
                    background-position: 0% 0%;
                }
                50% {
                    background-position: 100% 100%;
                }
    
                100% {
                    background-position: 0% 0%;
                }
            }
        }
    
        #example-4 {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f44336+0,ffeb3b+50,4caf50+100 */
            // background: rgb(244, 67, 54);
            background: linear-gradient(45deg, rgba(244, 67, 54, 1) 0%, rgba(255, 235, 59, 1) 50%, rgba(76, 175, 80, 1) 100%);
    
            background-size: 400% 400%;
    
            // img {
            //     visibility: hidden;
            // }
    
            animation: gradient-animation-ex-4 10s ease-in-out infinite;
    
            @keyframes gradient-animation-ex-4 {
                0% {
                    background-position: 100% 0%;
                }
                50% {
                    background-position: 0% 100%;
                }
    
                100% {
                    background-position: 100% 0%;
                }
            }
        }
    }

    #bc-decorative-circle {
        z-index: -10;

        position: absolute;

        width: 155rem;
        height: auto;

        aspect-ratio: 1 / 1;

        border-radius: 50%;

        /* Линейный градиент с тремя цветами и углом 45 градусов */
        // background-image: linear-gradient(147deg, #D1C4E900 0%, #D1C4E980 50%, #FFE0B2FF 100%);

        // background-image: url("/images/description_bc_circle.png");
        // background-repeat: none;
        // background-size: cover;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe0b2+0,d1c4e9+70,d1c4e9+100 */
        // background: rgb(255, 224, 178);
        background: linear-gradient(135deg, rgba(255, 224, 178, 1) 0%, rgba(209, 196, 233, 1) 70%, rgba(209, 196, 233, 1) 100%);
        // background: red;

        top: 50%;
        left: 50%;

        transform: translate(-39%, -27.1%);

        opacity: 0.25;

        @include media-breakpoint-down(xl) {
            width: 135rem;
        }

        @include media-breakpoint-down(lg) {
            width: 124rem;
        }

        @include media-breakpoint-down(md) {
            width: 115rem;

            transform: translate(-39%, -25.1%);
        }

        @include media-breakpoint-down (sm) {
            display: none;
        }
    }
}