/**========================================================================
 **                            FEEDBACK FORM
 *========================================================================**/

 #Feedback-Form {

    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;

        position: relative;

        & img {
            z-index: 0;

            position: absolute;

            left: 0;
            top: 0;

            height: auto;
            aspect-ratio: 1 / 1;
        }

        & #ball-green {
            z-index: -1;

            width: 76.22%;

            top: 0;
            left: 0;
        }

        & #ball-yellow {
            z-index: -2;

            width: 45.73%;

            top: 28.05%;
            left: 54.88%;
        }

        & #ball-white {
            width: 33.54%;

            top: 2.44%;
            left: 51.83%;
        }

        & #ball-grey {
            width: 54.27%;

            top: 46.34%;
            left: 0;
        }

        & #ball-red {
            width: 34.76%;

            top: 63.41%;
            left: 48.78%;
        }

        // @include media-breakpoint-down(xxl) {
        //     height: 35.5rem;
        // }
    
        // @include media-breakpoint-down(xl) {
        //     height: 30rem;
        // }
    }

    form {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        :not(:first-child) {
            margin-top: .6rem;
        }

        .form-field {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: auto;

            padding: .191rem;

            border: none;
            border-radius: 1.25rem;

            background-color: $color_deep_purple_700;

            --squircle-smooth: 0.78;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);

            @include media-breakpoint-down(xxl) {
                padding: .222rem;
            }

            @include media-breakpoint-down(lg) {
                padding: .1875rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(md) {
                padding: .2rem;

                border-radius: .37rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .37rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(sm) {
                padding: .16rem;

                border-radius: 1.15rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;
            }
        }

        input[type="text"],
        input[type="tel"] {
            width: 100%;
            height: auto;

            padding: .9rem 1.125rem;

            border: none;
            border-radius: 1.025rem;

            // background-color: color-mix(in srgb, $finally_bc_color 100%, #D1C4E9 5%);
            background-color: #fff;

            --squircle-smooth: 1;
            --squircle-radius: 1.025rem;

            mask-image: paint(squircle);

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            line-height: 100%;
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            color: var(--my-text-paragraph-color);

            &:focus,
            &:active {
                outline: none;
            }

            &:focus::placeholder {
                color: var(--my-text-paragraph-color);
            }

            @include media-breakpoint-down(lg) {
                padding: .625rem .875rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);
                mask-image: none;
            }

            @include media-breakpoint-down(md) {
                padding: .525rem .575rem;

                border-radius: .15rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .15rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;

                padding: .9rem 1rem;

                border-radius: 1.025rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;
            }

            // @include media-breakpoint-down(sm) {
            //     padding: .625rem .875rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: .625rem;
            // }
        }

        #feedback-form-submit-button {
            // font-size: inherit;

            margin-top: 1.25rem;

            width: 100%;
            height: auto;

            padding: 1rem 1.125rem;

            border: none;
            border-radius: 1.25rem;

            --squircle-smooth: 1.0;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);

            background-color: $color_deep_purple_700;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            line-height: var(--my-text-paragraph-line-height);
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            text-align: center;
            color: var(--my-text-paragraph-color-alt);

            text-transform: none;

            &:hover {
                color: #fff;
            }

            @include media-breakpoint-down(lg) {
                padding: .8rem 1rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(md) {
                padding: .75rem .75rem;

                border-radius: .37rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .37rem;

                mask-image: paint(squircle);
            }

            // @include media-breakpoint-down(xl) {
            //     margin-top: 1.5rem;

            //     height: 3.8rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: 1rem;
            // }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;

                border-radius: 1.15rem;

                padding: .9rem 1rem;

                // border-radius: .15rem;

                // --squircle-smooth: 0.78;
                // --squircle-radius: .15rem;

                // mask-image: paint(squircle);
            }
        }

        .checkbox-privacy-policy {
            // margin-top: .6rem;

            display: inline-flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            // margin-bottom: 1rem;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            letter-spacing: 0.05rem;

            text-align: center;
            color: var(--my-text-paragraph-color);

            input[type="checkbox"] {
                display: inline-block;

                appearance: none;

                min-width: 1.5rem;
                width: 1.5rem;

                height: auto;

                aspect-ratio: 1 / 1;

                border: 0.125rem solid $color_deep_purple_700;
                border-radius: 50%;

                position: relative;
                cursor: pointer;

                margin-right: .75rem;

                @include media-breakpoint-down(md) {        
                    border: 0.135rem solid $color_deep_purple_700;

                    margin-right: .5rem;
                }

                @include media-breakpoint-down(sm) {        
                    min-width: 1.75rem;
                    width: 1.75rem;
                }

                // @include media-breakpoint-down(sm) {
                //     // margin: 0;

                //     min-width: 1.5rem;
                //     min-height: 1.5rem;

                //     width: fit-content;
                //     height: fit-content;
                // }
            }

            input[type="checkbox"]:checked {
                background-color: $color_deep_purple_700;
                border: none;
            }

            input[type="checkbox"]:checked::before {
                content: '';
                position: absolute;

                width: .4rem;
                height: .8rem;

                top: 20%;
                left: 37%;

                border: solid #fff;
                border-width: 0 .125rem .125rem 0;

                transform: rotate(45deg);

                @include media-breakpoint-down(md) {
                    border-width: 0 .135rem .135rem 0;
                }

                @include media-breakpoint-down(sm) {
                    top: 19%;
                    left: 39%;

                    width: .42rem;
                    height: .9rem;
                }

                // @include media-breakpoint-down(sm) {
                //     border-width: 0 .15rem .16rem 0;
                // }
            }

            label {
                margin: 0;

                cursor: pointer;
            }

            a {
                color: $color_deep_purple_700;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            // @include media-breakpoint-down(xxl) {
            //     font-size: 1rem;
            // }

            // @include media-breakpoint-down(xl) {
            //     font-size: .91rem;
            // }

            // @include media-breakpoint-down(lg) {
            //     font-size: .86rem;
            // }

            @include media-breakpoint-down(sm) {
                font-size: .9rem;
            }
        }
    }
}