/**========================================================================
 **                            FEEDBACK FORM
 *========================================================================**/

 #Feedback-Form {

    // .content {
    //     margin-top: 5rem;

    //     // display: flex;
    //     // flex-direction: row;

    //     // align-items: center;
    // }

    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        // height: 25rem;

        position: relative;

        & img {
            z-index: 0;

            position: absolute;

            left: 0;
            top: 0;
        }

        & #ball-green {
            top: 0;
            left: 0;

            z-index: -1;

            width: 76.22%;
            aspect-ratio: 1 / 1;
            /* 31.25rem / 41rem * 100% */
            // height: 76.22%;
            // /* 31.25rem / 41rem * 100% */
        }

        & #ball-yellow {
            z-index: -2;

            top: 28.05%;
            /* 11.5rem / 41rem * 100% */
            left: 54.88%;
            /* 22.5rem / 41rem * 100% */

            width: 45.73%;
            aspect-ratio: 1 / 1;
            /* 18.75rem / 41rem * 100% */
            // height: 45.73%;
            // /* 18.75rem / 41rem * 100% */
        }

        & #ball-white {
            top: 2.44%;
            /* 1rem / 41rem * 100% */
            left: 51.83%;
            /* 21.25rem / 41rem * 100% */

            width: 33.54%;
            aspect-ratio: 1 / 1;
            /* 13.75rem / 41rem * 100% */
            // height: 33.54%;
            // /* 13.75rem / 41rem * 100% */
        }

        & #ball-grey {
            top: 46.34%;
            /* 19rem / 41rem * 100% */
            left: 0;

            width: 54.27%;
            aspect-ratio: 1 / 1;
            /* 22.25rem / 41rem * 100% */
            // height: 54.27%;
            // /* 22.25rem / 41rem * 100% */
        }

        & #ball-red {
            top: 63.41%;
            /* 26rem / 41rem * 100% */
            left: 48.78%;
            /* 20rem / 41rem * 100% */

            width: 34.76%;
            aspect-ratio: 1 / 1;
            /* 14.25rem / 41rem * 100% */
            // height: 34.76%;
            // /* 14.25rem / 41rem * 100% */
        }

        @include media-breakpoint-down(xxl) {
            height: 35.5rem;
        }
    
        @include media-breakpoint-down(xl) {
            height: 30rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        :not(:first-child) {
            margin-top: .6rem;
        }

        .form-field {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: auto;

            padding: .19rem;

            border: none;
            border-radius: 1.25rem;

            background-color: $color_deep_purple_700;

            --squircle-smooth: 0.78;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);

            @include media-breakpoint-down(xxl) {
                padding: .22rem;

                // height: 3.8rem;

                // border-radius: .625rem;

                // --squircle-smooth: 0.78;
                // --squircle-radius: .625rem;

                // mask-image: paint(squircle);
            }

            @include media-breakpoint-down(sm) {
                padding: 0.125rem;

                height: 3rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);
            }
        }

        input[type="text"],
        input[type="tel"] {
            width: 100%;
            height: auto;

            padding: .9rem 1.125rem;

            border: none;
            border-radius: 1.025rem;

            // background-color: color-mix(in srgb, $finally_bc_color 100%, #D1C4E9 5%);
            background-color: #fff;

            --squircle-smooth: 1;
            --squircle-radius: 1.025rem;

            mask-image: paint(squircle);

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            line-height: 100%;
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            color: var(--my-text-paragraph-color);

            &:focus,
            &:active {
                outline: none;
            }

            &:focus::placeholder {
                color: var(--my-text-paragraph-color);
            }

            // @include media-breakpoint-down(xl) {
            //     padding: .625rem .875rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: 1rem;
            // }

            @include media-breakpoint-down(sm) {
                padding: .625rem .875rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);

                font-size: .625rem;
            }
        }

        #feedback-form-submit-button {
            // font-size: inherit;

            margin-top: 1.25rem;

            width: 100%;
            height: auto;

            padding: 1rem 1.125rem;

            border: none;
            border-radius: 1.25rem;

            --squircle-smooth: 1.0;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);
            background-color: $color_deep_purple_700;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            line-height: var(--my-text-paragraph-line-height);
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            text-align: center;
            color: var(--my-text-paragraph-color-alt);

            text-transform: none;

            &:hover {
                color: #fff;
            }

            // @include media-breakpoint-down(xl) {
            //     margin-top: 1.5rem;

            //     height: 3.8rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: 1rem;
            // }

            @include media-breakpoint-down(sm) {
                margin-top: 1.5rem;

                height: 3rem;

                border-radius: .625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: .625rem;

                mask-image: paint(squircle);

                font-size: 1rem;
            }
        }

        .checkbox-privacy-policy {
            // margin-top: .6rem;

            display: flex;
            align-items: center;
            justify-content: center;

            // margin-bottom: 1rem;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: .8rem;
            letter-spacing: 0.05rem;

            text-align: center;
            color: var(--my-text-paragraph-color);

            input[type="checkbox"] {
                appearance: none;

                width: 1.5rem;
                height: 1.5rem;

                border: 0.125rem solid $color_deep_purple_700;
                border-radius: 50%;

                position: relative;
                cursor: pointer;

                margin-right: 0.75rem;

                @include media-breakpoint-down(sm) {
                    // margin: 0;

                    min-width: 1.5rem;
                    min-height: 1.5rem;

                    width: fit-content;
                    height: fit-content;
                }
            }

            input[type="checkbox"]:checked {
                background-color: $color_deep_purple_700;
                border: none;
            }

            input[type="checkbox"]:checked::before {
                content: '';
                position: absolute;

                width: .4rem;
                height: .8rem;

                top: 0.31rem;
                left: 0.56rem;

                border: solid #fff;
                border-width: 0 0.125rem 0.125rem 0;

                transform: rotate(45deg);

                @include media-breakpoint-down(sm) {
                    width: 0.345rem;
                    height: 0.7rem;

                    top: 0.32rem;
                    left: .59rem;
                }
            }

            label {
                display: inline-block;

                margin: 0;

                cursor: pointer;
            }

            a {
                color: $color_deep_purple_700;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            @include media-breakpoint-down(xxl) {
                font-size: 1rem;
            }

            @include media-breakpoint-down(xl) {
                font-size: .91rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: .86rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: .75rem;
            }
        }
    }
}