/**========================================================================
 **                            FOOTER
 *========================================================================**/

 footer {
    background-color: #FAFAFA;
    // z-index: -10;

    // box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(24px);

    position: relative;
    overflow: hidden;

    #bc-square-3 {
        z-index: -5;

        position: absolute;
        width: 10000px;
        height: 120%;

        background-color: $header_bc_color_square_1;
        // background-color: red;

        top: 50%;
        left: 50%;

        transform: translate(-48.1%, -30%) rotate(-17deg);

        @include media-breakpoint-down(sm) {
            display: none;

            width: 100vw;
            height: 40%;
        }
    }

    #bc-square-4 {
        z-index: -6;

        position: absolute;
        width: 10000px;
        height: 180%;

        background-color: $header_bc_color_square_2;
        // background-color: #C8E6C91A;
        // background-color: transparent;

        top: 50%;
        left: 50%;

        transform: translate(-48.2%, -50%) rotate(40deg);

        @include media-breakpoint-down(sm) {
            display: none;

            width: 100vw;
            height: 40%;
        }
    }

    h3 {
        margin-bottom: var(--my-text-h3-margin-bottom);

        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: var(-my-text-h3-font-weight);
        font-style: normal;

        font-size: var(--my-text-h3-font-size);
        letter-spacing: var(--my-text-h3-letter-spacing);

        line-height: var(--my-text-h3-line-height);

        color: $text_color_black;

        // @include media-breakpoint-down(lg) {
        //     margin-top: 3.5rem;

        //     font-size: 2.5rem;
        // }

        // @include media-breakpoint-down(sm) {
        //     margin-top: var(--my-footer-child-non-first-margin-top);

        //     // font-size: 1.1rem;

        //     // margin-bottom: 1rem;
        // }
    }

    a {
        margin: 0;
        // padding: 0;

        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: var(--my-text-small-paragraph-font-weight);
        font-style: normal;

        font-size: var(--my-text-small-paragraph-font-size);
        letter-spacing: var(--my-text-small-paragraph-letter-spacing);
        text-align: left;

        line-height: var(--my-text-small-paragraph-line-height);

        color: $text_color_black;

        text-decoration: none;

        // @include media-breakpoint-down(lg) {
        //     text-align: center;

        //     font-size: 1.5rem;
        // }

        // @include media-breakpoint-down(sm) {
        //     text-align: center;

        //     font-size: .8rem;
        // }
    }

    .footer-part-1 {
        padding: var( --my-footer-padding-value) 0;

        .logo-and-privacy-policy {
            // padding: auto;

            display: flex;
            flex-direction: column;

            align-items: start;
            justify-content: space-between;

            .logo {            
                font-size: var(--my-footer-logo-size);
            
                padding: 0;
            
                display: inline-flex;
                align-items: center;
            
                color: $color_deep_purple_700;
            
                .logo-icon {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
            
                    fill: $color_deep_purple_700;
            
                    width: 4.5em;
                    height: auto;

                    aspect-ratio: 1 / 1;
                }
            
                .logo-company-name-and-tagline-container {
                    margin-left: 1em;
            
                    display: inline-flex;
                    flex-direction: column;
            
                    .logo-company-name {
                        font-family: "Russo One", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;

                        text-align: left;
            
                        font-size: 1.5em;
                        letter-spacing: 0.35em;

                        line-height: 1.5em;
                    }
            
                    // @include media-breakpoint-down(lg) {
                    //     .logo-company-name {
                    //         font-size: 1.75em;
                    //     }
                    // }
            
                    .logo-tagline {
                        font-family: "Pattaya", sans-serif;
                        font-weight: 400;
                        font-style: normal;

                        text-align: left;
            
                        font-size: 1em;
                        letter-spacing: 0.55em;

                        line-height: 1.5em;
                    }
            
                    // @include media-breakpoint-down(lg) {
                    //     .logo-tagline {
                    //         font-size: 1.25rem;
                    //     }
                    // }
                }
            
                // @include media-breakpoint-down(xxl) {
                //     font-size: 0.75rem;
                // }
                
                // @include media-breakpoint-down(lg) {
                //     font-size: 0.5625rem;
                // }
            
                // @include media-breakpoint-down(sm) {
                //     font-size: 0.27rem;
                // }
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
                display: block;
            }

            // @include media-breakpoint-down(sm) {
                
            //     text-align: center;
            //     align-items: center;
            // }
        }

        .footer-navigation {
            margin: 0;

            text-align: left;

            ul {
                margin: 0;
                padding: 0;
            }
    
            ul li:not(:first-child) {
                margin-top: var(--my-text-small-paragraph-margin-bottom);

                // @include media-breakpoint-down(sm) {
                //     margin-top: .375rem;
                // }
            }

            // @include media-breakpoint-down(lg) {
            //     margin-top: 3.5rem;

            //     text-align: center;
            // }

            @include media-breakpoint-down(sm) {
                // margin-top: 1.5rem;

                text-align: center;
            }
        }

        @include media-breakpoint-down(sm) {
            div:not(:last-child) {
                margin-bottom: var(--my-footer-child-non-first-margin-top);
            }
        }

        // @include media-breakpoint-down(lg) {
        //     padding: 5rem 0;
        // }

        // @include media-breakpoint-down(sm) {
        //     // padding: 1.5rem 0;
        // }
    }

    .rounded-hr {
        border: none;
        border-top: 0.0625rem solid $text_color_black;
        border-radius: 100%;
        margin: 0;
    }

    .copyright {
        padding: 1.75rem 0;

        small {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;

            // font-size: 1rem;
            font-size: var(--my-text-small-paragraph-font-size);
            letter-spacing: 0.14em;

            color: $text_color_black;

            // @include media-breakpoint-down(lg) {
            //     font-size: 1.5rem;
            // }

            // @include media-breakpoint-down(sm) {
            //     font-size: .8rem;
            // }
        }

        #copyright-info {
            text-align: left;

            @include media-breakpoint-down(sm) {
                text-align: center;
                line-height: 1em;
            }
        }

        #copyright-email {
            margin: 0;

            text-align: right;

            // @include media-breakpoint-down(lg) {
            //     margin-top: 1.5rem;

            //     text-align: center;
            // }

            @include media-breakpoint-down(sm) {
                margin-top: var(--my-text-paragraph-margin-top);

                text-align: center;
                line-height: 1em;
            }
        }

        // @include media-breakpoint-down(lg) {
        //     padding: 3.5rem 0;
        // }

        // @include media-breakpoint-down(sm) {
        //     padding: 1.5rem 0;
        // }
    }

}