/**========================================================================
 **                            HERO SECTION
 *========================================================================**/

 #Hero {
    margin-top: 4.59952rem;

    position: relative;
    display: flex;

    padding: var(--my-section-hero-padding-value) 0;

    &:not(:first-child) {
        padding: var(--my-section-hero-padding-value) 0 0 0;
    }

    &:last-child {
        padding: var(--my-section-hero-padding-value) 0;
    }

    // height: 100vh;

    // min-height: 70rem;
    // max-height: 70rem;

    #hero-bc-img {
        z-index: -2;

        position: absolute;

        background-color: #fff;

        width: 100%;
        height: 100%;

        top: 0;
        left: 50%;

        transform: translate(-50%, 0);
    }

    #hero-fr-img {
        z-index: -1;

        position: absolute;

        background-image: url("../images/hero_bc.webp");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100vw;
        height: 100%;

        top: 0;
        left: 0;

        opacity: 0.1;

        filter: blur(2px);

        // box-shadow: 0 0.1875rem 0.625rem rgba($color: #000000, $alpha: 0.25);
    }
    
    // .container {
    //     display: flex;
    //     flex-direction: column;

    //     align-items: center;
    //     justify-content: space-between;
    // }

    .hero-h1 {
        @extend .heading;

        margin: 0;

        font-size: var(--my-text-h1-font-size);
        font-weight: var(--my-text-h1-font-weigh);

        letter-spacing: var(--my-text-h1-letter-spacing);
        line-height: var(--my-text-h1-line-height);

        .hero-h1-manufacturer-location {    
            margin-top: 1em;

            font-size: .23em;
            letter-spacing: .6em;

            line-height: 1em;
    
            // line-height: 150%;
    
            @include media-breakpoint-down(lg) {
                font-size: .25em;
            }

            @include media-breakpoint-down(md) {
                line-height: 2em;

                font-size: .33em;
            }

            @include media-breakpoint-down(sm) {
                line-height: 2em;

                font-size: .45em;
            }
    
            // @include media-breakpoint-down(sm) {
            //     font-size: .8rem;
            // }
        }
    }

    .image-container {
        margin-top: var(--my-section-hero-child-non-first-margin-top);

        img {
            display: inline-block;

            width: 10.5rem;
            height: auto;

            aspect-ratio: initial;

            @include media-breakpoint-down(sm) {
                width: 7rem;
            }
        }
    }

    .hero-phrase {
        margin-top: var(--my-section-hero-child-non-first-margin-top);

        font-family: "Tenor Sans", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-size: var(--my-text-heading-font-size);
        letter-spacing: var(--my-text-subheading-letter-spacing);
        line-height: var(--my-text-subheading-line-height);

        text-align: center;
        background: linear-gradient(90deg, #1b5e20 0%, #ff6f00 50%, #bf360c 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        // @include media-breakpoint-down(xxl) {
        //     font-size: 2.875rem;
        // }
    
        // @include media-breakpoint-down(xl) {
        //     font-size: 2.5625rem;
        // }
    
        // @include media-breakpoint-down(lg) {
        //     font-size: 2.25rem;
        // }

        // @include media-breakpoint-down(sm) {
        //     font-size: 1.25rem;
        // }
    }

    // @include media-breakpoint-down(sm) {
    //     min-height: 28rem;
    //     max-height: 32.5rem;
    // }
}