/**========================================================================
 **                            PRIVACY
 *========================================================================**/

#Privacy {

    padding: calc( var(--my-section-padding-value) * 2) 0 var(--my-section-padding-value) 0;

    h1 {
        margin-bottom: var(--my-section-padding-value);

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1.13rem;
        }

        @include media-breakpoint-down(xs) {
            font-size: 1.05rem;
        }
    }
    
    p {
        margin-bottom: var(--my-text-heading-margin-bottom);
    
        @include transition-all(color);
        
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
        font-size: var(--my-text-paragraph-font-size);
        letter-spacing: var(--my-text-paragraph-letter-spacing);
    
        line-height: var(--my-text-paragraph-line-height);
    
        text-align: left;
        text-indent: 0;
    
        color: var(--text-color-87);
    
        hyphens: none;
    
        &:is(:last-child) {
            margin-bottom: 0;
        }
    
        // @include media-breakpoint-down(sm) {
        //     // font-size: 13px;
    
        //     // word-wrap: break-word;
        //     // overflow-wrap: break-word;
    
        //     text-indent: var(--my-text-paragraph-text-indent);
        //     text-align: justify;
    
        //     // // text-align: left;
        //     // text-indent: 2.25em;
        //     // letter-spacing: 0em;
    
        //     // &:not(:first-child) {
        //     //     margin-top: 2.5rem;
        //     // }
        // }
    }

    .main-list {
        counter-reset: main-list__counter 0;

        list-style: decimal;
        list-style-position: inside;

        margin: 0;
        padding: 0;

        li {
            counter-increment: main-list__counter;

            &::marker {
                content: counter(main-list__counter) ". ";
                
                font-variant-numeric: lining-nums;
            }
        }

        .sub-list {
            counter-reset: sub-list__counter 0;

            list-style-position: outside;
            list-style: decimal;

            li {
                counter-increment: sub-list__counter;

                &::marker {
                    content: counter(main-list__counter) "." counter(sub-list__counter) ". ";

                    font-variant-numeric: lining-nums;
                }
            }
        }
    }

    .policy-point {
        font-size: var(--my-text-heading-font-size);
        margin-bottom: var(--my-section-padding-value);
    
        &:is(:last-child) {
            margin-bottom: 0;
        }
        
        &__title {
            @extend .heading;
    
            margin-bottom: var(--my-text-heading-margin-bottom);
    
            font-weight: 600;
    
            font-size: var(--my-text-paragraph-font-size);
            letter-spacing: var(--my-text-paragraph-letter-spacing);
    
            line-height: var(--my-text-paragraph-line-height);
    
            text-align: left
        }
    
        &__content {
            margin-left: 3.5rem;
    
            .dashed-list {    
                counter-reset: none;
    
                list-style: none;
                list-style-position: outside;
    
                font-size: var(--my-text-paragraph-font-size);
                margin: 0 0 var(--my-text-heading-margin-bottom) 3.5rem;
                // margin: 0;
    
                // padding: 0 0 0 3.5rem;
                padding: 0;
        
                li {
                    counter-increment: none;
    
                    @extend p;
        
                    font-weight: 400;
        
                    margin-bottom: var(--my-text-paragraph-margin-top);
        
                    &:is(:last-child) {
                        margin-bottom: var(--my-text-subheading-margin-bottom);
                    }
        
                    &.my-last-child {
                        margin-bottom: 0;
                    }
    
                    // position: relative;
                    // text-indent: -3.5rem;
    
                    &::marker {
                        @include transition-all(color);
    
                        content: "— ";
    
                        // position: absolute;
                        // left: 0;
    
                        // margin-right: 20px;
                        // margin-left: -100px;
                        color: var(--text-color-87);
                    }
                }
    
                @include media-breakpoint-down(sm) {
                    margin: 0 0 var(--my-text-heading-margin-bottom) 1rem;
                }
    
                @include media-breakpoint-down(xs) {
                    margin: 0 0 var(--my-text-heading-margin-bottom) .9rem;
                }
            }
    
            @include media-breakpoint-down(sm) {
                margin-left: 1rem;
            }
    
            @include media-breakpoint-down(xs) {
                margin-left: .9rem;
            }
        }
    }

    h4 {
        @extend .subheading;

        margin-bottom: var(--my-text-heading-margin-bottom);

        font-weight: 400;

        font-size: var(--my-text-paragraph-font-size);
        letter-spacing: var(--my-text-paragraph-letter-spacing);

        line-height: var(--my-text-paragraph-line-height);

        text-align: left;

        &:is(:last-child) {
            margin-bottom: 0;
        }

        &.h4--with-list {
            margin-bottom: var(--my-text-paragraph-margin-top);

            &:is(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    table, th, td {
        border: 1px solid var(--text-color-87);
    }

    table {
        td {
            vertical-align: middle;
            padding: 1.25rem 0rem 1.25rem 2rem;

            strong {
                @extend p;    

                display: block;
                margin: 0;

                font-weight: 500;

                // @include media-breakpoint-down(sm) {
                //     font-size: .9rem;
                // }
            }

            @include media-breakpoint-down(sm) {
                padding: .5rem .5rem .5rem 1rem;
            }

            @include media-breakpoint-down(xs) {
                padding: .35rem .35rem .35rem .9rem;
            }
        }

        .table-list {
            margin: 0;
            padding: 0;

            list-style: disc;
            list-style-position: outside;

            counter-reset: none;

            li {
                @extend p;

                margin: 0;
                counter-increment: none;

                // @include media-breakpoint-down(sm) {
                //     font-size: .9rem;
                // }
            }

            li::marker {
                content: '• ';
            }
        }
    }

}

#Cookies {
    padding: 0 0 var(--my-section-padding-value) 0;

    h2 {
        margin-bottom: var(--my-section-padding-value);

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1.13rem;
        }

        @include media-breakpoint-down(xs) {
            font-size: 1.05rem;
        }
    }

    p {
        margin-bottom: var(--my-text-heading-margin-bottom);
    
        @include transition-all(color);
        
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
        font-size: var(--my-text-paragraph-font-size);
        letter-spacing: var(--my-text-paragraph-letter-spacing);
    
        line-height: var(--my-text-paragraph-line-height);
    
        text-align: left;
        text-indent: 0;
    
        color: var(--text-color-87);
    
        hyphens: none;
    
        &:is(:last-child) {
            margin-bottom: 0;
        }
    
        // @include media-breakpoint-down(sm) {
        //     // font-size: 13px;
    
        //     // word-wrap: break-word;
        //     // overflow-wrap: break-word;
    
        //     text-indent: var(--my-text-paragraph-text-indent);
        //     text-align: justify;
    
        //     // // text-align: left;
        //     // text-indent: 2.25em;
        //     // letter-spacing: 0em;
    
        //     // &:not(:first-child) {
        //     //     margin-top: 2.5rem;
        //     // }
        // }
    }

    .policy-point {
        font-size: var(--my-text-heading-font-size);
        margin-bottom: var(--my-section-padding-value);
    
        &:is(:last-child) {
            margin-bottom: 0;
        }
        
        &__title {
            @extend .heading;
    
            margin-bottom: var(--my-text-heading-margin-bottom);
    
            font-weight: 600;
    
            font-size: var(--my-text-paragraph-font-size);
            letter-spacing: var(--my-text-paragraph-letter-spacing);
    
            line-height: var(--my-text-paragraph-line-height);
    
            text-align: left
        }
    
        &__content {
            margin-left: 3.5rem;
    
            .dashed-list {
                counter-reset: none;
    
                list-style: none;
                list-style-position: outside;
    
                font-size: var(--my-text-paragraph-font-size);
                margin: 0 0 var(--my-text-heading-margin-bottom) 0;
                // margin: 0;
    
                // padding: 0 0 0 3.5rem;
                padding: 0;
        
                li {
                    counter-increment: none;
    
                    @extend p;
        
                    font-weight: 400;
        
                    margin-bottom: var(--my-text-paragraph-margin-top);
        
                    &:is(:last-child) {
                        margin-bottom: var(--my-text-subheading-margin-bottom);
                    }
        
                    &.my-last-child {
                        margin-bottom: 0;
                    }
    
                    // position: relative;
                    // text-indent: -3.5rem;
    
                    &::marker {
                        @include transition-all(color);
    
                        content: "— ";
    
                        // position: absolute;
                        // left: 0;
    
                        // margin-right: 20px;
                        // margin-left: -100px;
                        color: var(--text-color-87);
                    }
                }
    
                @include media-breakpoint-down(sm) {
                    margin: 0 0 var(--my-text-heading-margin-bottom) 1rem;
                }
    
                @include media-breakpoint-down(xs) {
                    margin: 0 0 var(--my-text-heading-margin-bottom) .9rem;
                }
            }
    
            @include media-breakpoint-down(sm) {
                margin-left: 1rem;
            }
    
            @include media-breakpoint-down(xs) {
                margin-left: .9rem;
            }
        }
    }
}