/**========================================================================
 **                            PRICES
 *========================================================================**/

 #Prices {
    margin: 10rem 0 10rem 0;

    .price-content {
        position: relative;

        margin-top: 5rem;

        #current-price {
            position: relative;

            margin: 24.75rem 0 24.75rem 0;

            width: 20.5rem;
            height: 20.5rem;

            & #bc-current-price-anim-wrapper {
                width: 100%;
                height: 100%;

                animation: scale-animation 6s ease-in-out infinite alternate;

                @keyframes scale-animation {
                    0% {
                        transform: scale(1.25);
                    }

                    50% {
                        transform: scale(0.9);
                    }

                    100% {
                        transform: scale(1.25);
                    }
                }

                & #bc-current-price {
                    width: 100%;
                    height: 100%;

                    fill: #B71C1C;

                    animation: rotate-counter-clockwise 10s infinite linear;

                    @keyframes rotate-counter-clockwise {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(-360deg);
                        }
                    }
                }
            }

            & span {
                z-index: 1;

                position: absolute;

                top: 50%;
                left: 50%;

                // transform: translate(-47.5%, -52.5%) rotate(-21deg);

                margin: 0 auto;

                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;

                font-size: 3rem;
                letter-spacing: 0.25em;
                text-align: center;

                color: #fff;

                text-transform: none;

                animation: wobble 10s infinite;

                @keyframes wobble {
                    0% {
                        transform: translate(-45%, -52.5%) rotate(-21deg) rotate(-8deg);
                    }

                    50% {
                        transform: translate(-45%, -52.5%) rotate(-21deg) rotate(8deg);
                    }

                    100% {
                        transform: translate(-45%, -52.5%) rotate(-21deg) rotate(-8deg);
                    }
                }
            }
        }

        --ball-size: 18.75rem;

        @include media-breakpoint-down(xl) {
            --ball-size: 13.75rem;

            #current-price {
                margin: 19.75rem 0 19.75rem 0;
            }
        }

        .orbit {
            z-index: -1;

            position: absolute;

            width: 20rem;
            height: 35rem;

            top: 0;
            left: 50%;

            transform: translateX(-50%);
            transform-origin: bottom center;

            img {
                position: absolute;

                width: var(--ball-size);
                height: var(--ball-size);

                top: 0;
                left: 50%;

                transform: translateX(-50%);
            }
        }

        @include media-breakpoint-down(xl) {
            .orbit {
                width: 15rem;
                height: 30rem;
            }
        }

        #ball-green {
            animation: rotate-clockwise 10s infinite linear;

            @keyframes rotate-clockwise {
                from {
                    transform: translateX(-50%) rotate(0deg);
                }

                to {
                    transform: translateX(-50%) rotate(360deg);
                }
            }

            img {
                animation: ball-rotate-counter-clockwise-0 10s infinite linear;

                @keyframes ball-rotate-counter-clockwise-0 {
                    from {
                        transform: translateX(-50%) rotate(0deg);
                    }

                    to {
                        transform: translateX(-50%) rotate(-360deg);
                    }
                }
            }
        }

        #ball-yellow {
            animation: rotate-clockwise-72 10s infinite linear;

            @keyframes rotate-clockwise-72 {
                from {
                    transform: translateX(-50%) rotate(72deg);
                }

                to {
                    transform: translateX(-50%) rotate(432deg);
                }
            }

            img {
                animation: ball-rotate-counter-clockwise-72 10s infinite linear;

                @keyframes ball-rotate-counter-clockwise-72 {
                    from {
                        transform: translateX(-50%) rotate(-72deg);
                    }

                    to {
                        transform: translateX(-50%) rotate(-432deg);
                    }
                }
            }
        }

        #ball-white {
            animation: rotate-clockwise-144 10s infinite linear;

            @keyframes rotate-clockwise-144 {
                from {
                    transform: translateX(-50%) rotate(144deg);
                }

                to {
                    transform: translateX(-50%) rotate(504deg);
                }
            }

            img {
                animation: ball-rotate-counter-clockwise-144 10s infinite linear;

                @keyframes ball-rotate-counter-clockwise-144 {
                    from {
                        transform: translateX(-50%) rotate(-144deg);
                    }

                    to {
                        transform: translateX(-50%) rotate(-504deg);
                    }
                }
            }
        }

        #ball-grey {
            animation: rotate-clockwise-216 10s infinite linear;

            @keyframes rotate-clockwise-216 {
                from {
                    transform: translateX(-50%) rotate(216deg);
                }

                to {
                    transform: translateX(-50%) rotate(576deg);
                }
            }

            img {
                animation: ball-rotate-counter-clockwise-216 10s infinite linear;

                @keyframes ball-rotate-counter-clockwise-216 {
                    from {
                        transform: translateX(-50%) rotate(-216deg);
                    }

                    to {
                        transform: translateX(-50%) rotate(-576deg);
                    }
                }
            }
        }

        #ball-red {
            animation: rotate-clockwise-288 10s infinite linear;

            @keyframes rotate-clockwise-288 {
                from {
                    transform: translateX(-50%) rotate(288deg);
                }

                to {
                    transform: translateX(-50%) rotate(648deg);
                }
            }

            img {
                animation: ball-rotate-counter-clockwise-288 10s infinite linear;

                @keyframes ball-rotate-counter-clockwise-288 {
                    from {
                        transform: translateX(-50%) rotate(-288deg);
                    }

                    to {
                        transform: translateX(-50%) rotate(-648deg);
                    }
                }
            }
        }
    }
}