/**========================================================================
 **                            SAFETY
 *========================================================================**/

 #Safety {
    position: relative;

    // .content {
    //     margin-top: 5rem;
    // }

    .container-for-document-image {
        // width: 40%;

        // display: flex;
        // flex-direction: column;

        .image-with-gradient-border {
            margin-bottom: 1.5rem;

            &#safety-doc-1,
            &#safety-doc-5 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9800+0,673ab7+100;orange_to_purple */
                background: rgb(255, 152, 0);
                /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY5ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3M2FiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                background: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 152, 0, 1)), color-stop(100%, rgba(103, 58, 183, 1)));
                /* Chrome4-9,Safari4-5 */
                background: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: -o-linear-gradient(-45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* Opera 11.10-11.50 */
                background: -ms-linear-gradient(-45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* IE10 preview */
                background: linear-gradient(135deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9800', endColorstr='#673ab7', GradientType=1);
                /* IE6-8 fallback on horizontal gradient */

                background-size: 400% 400%;

                // img {
                //     visibility: hidden;
                // }

                animation: gradient-animation-ex-3 10s ease-in-out infinite;

                @keyframes gradient-animation-ex-3 {
                    0% {
                        background-position: 0% 0%;
                    }
                    50% {
                        background-position: 100% 100%;
                    }

                    100% {
                        background-position: 0% 0%;
                    }
                }
            }
        
            &#safety-doc-2,
            &#safety-doc-6 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#673ab7+0,ff9800+100 */
                background: rgb(103, 58, 183);
                /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjczYWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                background: -moz-linear-gradient(45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(103, 58, 183, 1)), color-stop(100%, rgba(255, 152, 0, 1)));
                /* Chrome4-9,Safari4-5 */
                background: -webkit-linear-gradient(45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: -o-linear-gradient(45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* Opera 11.10-11.50 */
                background: -ms-linear-gradient(45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* IE10 preview */
                background: linear-gradient(45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#673ab7', endColorstr='#ff9800', GradientType=1);
                /* IE6-8 fallback on horizontal gradient */

                background-size: 400% 400%;

                // img {
                //     visibility: hidden;
                // }

                animation: gradient-animation-ex-4 10s ease-in-out infinite;

                @keyframes gradient-animation-ex-4 {
                    0% {
                        background-position: 100% 0%;
                    }
                    50% {
                        background-position: 0% 100%;
                    }

                    100% {
                        background-position: 100% 0%;
                    }
                }
            }
        
            &#safety-doc-3 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9800+0,673ab7+100;orange_to_purple */
                background: rgb(255, 152, 0);
                /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY5ODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3M2FiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                background: -moz-linear-gradient(45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 152, 0, 1)), color-stop(100%, rgba(103, 58, 183, 1)));
                /* Chrome4-9,Safari4-5 */
                background: -webkit-linear-gradient(45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: -o-linear-gradient(45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* Opera 11.10-11.50 */
                background: -ms-linear-gradient(45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* IE10 preview */
                background: linear-gradient(45deg, rgba(255, 152, 0, 1) 0%, rgba(103, 58, 183, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9800', endColorstr='#673ab7', GradientType=1);
                /* IE6-8 fallback on horizontal gradient */

                background-size: 400% 400%;

                // img {
                //     visibility: hidden;
                // }
        
                animation: gradient-animation-ex-1 10s ease-in-out infinite;
        
                @keyframes gradient-animation-ex-1 {
                    0% {
                        background-position: 0% 100%;
                    }
                    50% {
                        background-position: 100% 0%;
                    }
        
                    100% {
                        background-position: 0% 100%;
                    }
                }
            }
        
            &#safety-doc-4 {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#673ab7+0,ff9800+100;purple_to_orange */
                background: rgb(103, 58, 183);
                /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjczYWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                background: -moz-linear-gradient(-45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(103, 58, 183, 1)), color-stop(100%, rgba(255, 152, 0, 1)));
                /* Chrome4-9,Safari4-5 */
                background: -webkit-linear-gradient(-45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: -o-linear-gradient(-45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* Opera 11.10-11.50 */
                background: -ms-linear-gradient(-45deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* IE10 preview */
                background: linear-gradient(135deg, rgba(103, 58, 183, 1) 0%, rgba(255, 152, 0, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#673ab7', endColorstr='#ff9800', GradientType=1);
                /* IE6-8 fallback on horizontal gradient */

                background-size: 400% 400%;

                // img {
                //     visibility: hidden;
                // }

                animation: gradient-animation-ex-2 10s ease-in-out infinite;

                @keyframes gradient-animation-ex-2 {
                    0% {
                        background-position: 100% 100%;
                    }
                    50% {
                        background-position: 0% 0%;
                    }

                    100% {
                        background-position: 100% 100%;
                    }
                }
            }   
    
            // @include media-breakpoint-down(xxl) {
            //     & {
            //         margin-bottom: 1.5rem;
            //     }
            // }

            // @include media-breakpoint-down(xl) {
            //     & {
            //         margin-bottom: 1.5rem;
            //     }
            // }

            @include media-breakpoint-up(xxl) {
                &#safety-doc-4, &#safety-doc-5, &#safety-doc-6 {
                    margin: 0;
                }
            }

            @include media-breakpoint-up(sm) {
                &#safety-doc-5, &#safety-doc-6 {
                    margin: 0;
                }
            }





            // @include media-breakpoint-down(md) {
            //     // margin-bottom: 1.5rem;
    
            //     &#safety-doc-6 {
            //         margin: 0;
            //     }
            // }

            @include media-breakpoint-down(sm) {
                margin-bottom: 1rem;
    
                &#safety-doc-6 {
                    margin: 0;
                }
            }
        }
    }

    #bc-decorative-circle {
        z-index: -5;

        position: absolute;

        width: 178rem;
        height: auto;

        aspect-ratio: 1 / 1;

        border-radius: 50%;

        /* Линейный градиент с тремя цветами и углом 45 градусов */
        // background-image: linear-gradient(147deg, #D1C4E900 0%, #D1C4E980 50%, #FFE0B2FF 100%);

        // background-image: url("/images/description_bc_circle.png");
        // background-repeat: none;
        // background-size: cover;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1c4e9+0,d1c4e9+30,ffe0b2+100 */
        background: rgb(209, 196, 233);
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZDFjNGU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZTBiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(-45deg, rgba(209, 196, 233, 1) 0%, rgba(209, 196, 233, 1) 30%, rgba(255, 224, 178, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(209, 196, 233, 1)), color-stop(30%, rgba(209, 196, 233, 1)), color-stop(100%, rgba(255, 224, 178, 1)));
        /* Chrome4-9,Safari4-5 */
        background: -webkit-linear-gradient(-45deg, rgba(209, 196, 233, 1) 0%, rgba(209, 196, 233, 1) 30%, rgba(255, 224, 178, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(-45deg, rgba(209, 196, 233, 1) 0%, rgba(209, 196, 233, 1) 30%, rgba(255, 224, 178, 1) 100%);
        /* Opera 11.10-11.50 */
        background: -ms-linear-gradient(-45deg, rgba(209, 196, 233, 1) 0%, rgba(209, 196, 233, 1) 30%, rgba(255, 224, 178, 1) 100%);
        /* IE10 preview */
        background: linear-gradient(135deg, rgba(209, 196, 233, 1) 0%, rgba(209, 196, 233, 1) 30%, rgba(255, 224, 178, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1c4e9', endColorstr='#ffe0b2', GradientType=1);
        /* IE6-8 fallback on horizontal gradient */

        top: 50%;
        left: 50%;

        transform: translate(-71%, -6.5%);

        opacity: 0.25;

        @include media-breakpoint-down(xxl) {
            width: 260rem;

            transform: translate(-75.2%, -18%);
        }

        @include media-breakpoint-down(xl) {
            width: 235rem;

            transform: translate(-76.6%, -16%);
        }

        @include media-breakpoint-down(lg) {
            width: 224rem;

            transform: translate(-76.6%, -15%);
        }

        @include media-breakpoint-down(md) {
            width: 188rem;

            transform: translate(-76.6%, -13%);
        }
    }
}