/**========================================================================
 **                            USAGE
 *========================================================================**/

 #Usage {
    position: relative;

    ul {
        li {
            &:not(:first-child) {
                margin-top: var(--my-text-paragraph-margin-top);
            }

            hyphens: none !important;
    
            position: relative;
    
            list-style: none;
            list-style-type: none;
    
            padding: 1em 1.5em;
    
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
    
            font-size: var(--my-text-paragraph-font-size);
            letter-spacing: var(--my-text-paragraph-letter-spacing);
    
            text-indent: 0;
            line-height: var(--my-text-paragraph-line-height);
    
            text-align: justify;
    
            color: var(--text-color-87);
    
            border-radius: 1.5em;
            background-color: var(--usage--card-block-bc-color);
    
            box-shadow: .142rem .19rem .476rem 0px var(--box-shadow-color);
            
            list-style: inside;
            list-style-type: decimal;
            list-style-position: inside;
    
            &::marker {
                // color: red;
                // font-size: 1.5rem;
    
                // font-size: 1.5em;
                font-weight: 600;
                margin-right: 0;
            }
    
            @include media-breakpoint-down(sm) {
                // word-wrap: break-word;
                // overflow-wrap: break-word;
    
                // hyphens: auto;
    
                // hyphenate-limit-chars: 6 3 3;
                // -ms-hyphenate-limit-lines: no-limit;
                // hyphenate-limit-last: always;
                // -ms-hyphenate-limit-zone: 50%;
    
                // list-style: inside;
                list-style-type: decimal;
                list-style-position: inside;
    
                text-align: justify;
                // text-indent: var(--my-text-paragraph-text-indent);
    
                padding: 0;
    
                // padding: 0;
                border: none;
                background-color: transparent;
                box-shadow: none;
    
                &:not(:first-child) {
                    // margin-top: var(--my-text-paragraph-margin-top);
                    margin-top: .62rem;
                }
            }
        }
    }

    // p {
    //     @extend li;

    //     padding: 0;

    //     background: none;

    //     border: none;

    //     text-indent: 3.1em;

    //     box-shadow: none;

    //     &:not(:first-child) {
    //         margin-top: var(--my-text-paragraph-margin-top);
    //     }
    // }

    img {
        z-index: -2;
        position: absolute;

        height: auto;
        aspect-ratio: 1 / 1;

        top: 50%;
        left: 50%;
    }

    #ball-green {
        width: 33.75rem;

        transform: translate(55%, -120%);

        @keyframes usage_gravity_ball_green {
            0% {
                transform: translate(55%, -120%);
            }
            50% {
                transform: translate(55%, -115%);
            }
            100% {
                transform: translate(55%, -120%);
            }
        }

        animation: usage_gravity_ball_green 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        animation-delay: 0;

        @include media-breakpoint-down(xl) {
            transform: translate(60%, -120%);

            @keyframes usage_gravity_ball_green {
                0% {
                    transform: translate(60%, -120%);
                }
                50% {
                    transform: translate(60%, -115%);
                }
                100% {
                    transform: translate(60%, -120%);
                }
            }
        }
    }

    #ball-red {
        width: 18rem;

        transform: translate(180%, -62.5%);

        @keyframes usage_gravity_ball_red {
            0% {
                transform: translate(180%, -62.5%);
            }
            50% {
                transform: translate(190%, -65.5%);
            }
            100% {
                transform: translate(180%, -62.5%);
            }
        }

        animation: usage_gravity_ball_red 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        animation-delay: -.5s;
    }

    #ball-white {
        z-index: -1;

        width: 10.5rem;

        transform: translate(155%, -143.5%);

        @keyframes usage_gravity_ball_white {
            0% {
                transform: translate(155%, -143.5%);
            }
            50% {
                transform: translate(165%, -135.5%);
            }
            100% {
                transform: translate(155%, -143.5%);
            }
        }

        animation: usage_gravity_ball_white 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        animation-delay: -6s;

        @include media-breakpoint-down(xxl) {
            transform: translate(150%, -135.5%);

            @keyframes usage_gravity_ball_white {
                0% {
                    transform: translate(150%, -135.5%);
                }
                50% {
                    transform: translate(175%, -129.5%);
                }
                100% {
                    transform: translate(150%, -135.5%);
                }
            }
        }

        @include media-breakpoint-down(xl) {
            width: 11rem;

            transform: translate(155%, -146%);

            @keyframes usage_gravity_ball_white {
                0% {
                    transform: translate(155%, -146%);
                }
                50% {
                    transform: translate(175%, -133.5%);
                }
                100% {
                    transform: translate(155%, -146%);
                }
            }
        }
    }

    #ball-yellow {
        width: 22rem;

        transform: translate(65%, -33%);

        @keyframes usage_gravity_ball_yellow {
            0% {
                transform: translate(65%, -33%);
            }
            50% {
                transform: translate(70%, -35%);
            }
            100% {
                transform: translate(65%, -33%);
            }
        }

        animation: usage_gravity_ball_yellow 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        animation-delay: -1s;

        @include media-breakpoint-down(xxl) {
            transform: translate(66%, -28%);

            @keyframes usage_gravity_ball_yellow {
                0% {
                    transform: translate(66%, -28%);
                }
                50% {
                    transform: translate(70%, -32%);
                }
                100% {
                    transform: translate(66%, -28%);
                }
            }
        }

        @include media-breakpoint-down(xl) {
            transform: translate(85%, -35%);

            @keyframes usage_gravity_ball_yellow {
                0% {
                    transform: translate(85%, -35%);
                }
                50% {
                    transform: translate(82%, -32%);
                }
                100% {
                    transform: translate(85%, -35%);
                }
            }
        }
    }

    #ball-grey {
        z-index: -5;
        
        width: 32.5rem;

        transform: translate(90%, 10%);

        @keyframes usage_gravity_ball_grey {
            0% {
                transform: translate(90%, 10%);
            }
            50% {
                transform: translate(85%, 5%);
            }
            100% {
                transform: translate(90%, 10%);
            }
        }

        animation: usage_gravity_ball_grey 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        animation-delay: 0;
    }

}