/**========================================================================
 **                            USAGE
 *========================================================================**/

 #Usage {
    position: relative;

    ul>*:not(:first-child) {
        margin-top: var(--my-text-paragraph-margin-top);
    }

    li {
        position: relative;

        padding: 1rem 1.5rem 1rem 1.5rem;

        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        font-size: var(--my-text-paragraph-font-size);
        letter-spacing: var(--my-text-paragraph-letter-spacing);

        line-height: 150%;

        text-align: justify;

        color: $text_color_black;

        border-radius: 1.5rem;
        background-color: rgba($color: #fff, $alpha: 0.05);

        border-radius: 1.5rem;

        -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    img {
        z-index: -2;
        position: absolute;
    }

    #bc-concrete-green {
        width: 33.75rem;
        height: 33.75rem;

        top: 50%;
        left: 50%;

        transform: translate(78%, -120%);
    }

    #bc-concrete-yellow {
        width: 12.5rem;
        height: 12.5rem;

        top: 50%;
        left: 50%;

        transform: translate(315%, -75%);
    }

    #bc-concrete-white {
        width: 25rem;
        height: 25rem;

        top: 50%;
        left: 50%;

        transform: translate(85%, -18%);
    }

    #bc-concrete-grey {
        width: 12.5rem;
        height: 12.5rem;

        top: 50%;
        left: 50%;

        transform: translate(290%, 150%);
    }

    #bc-concrete-red {
        z-index: -1;

        width: 17.3125rem;
        height: 17.3125rem;

        top: 50%;
        left: 50%;

        transform: translate(120%, -120%);
    }

}