/**========================================================================
 **                            USAGE
 *========================================================================**/

 #Usage {
    position: relative;

    ul {
        margin-top: 7.5rem;
    }

    ul>*:not(:first-child) {
        margin-top: 1.5rem;
    }

    // $size: width('li');
    // $radius1: $size/2;
    // $radius2: $size/5;

    li {
        position: relative;

        padding: 1rem 1.5rem 1rem 1.5rem;

        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        font-size: var(--paragraph-font-size);
        line-height: 150%;
        letter-spacing: 0.1em;

        text-align: justify;

        color: $text_color_black;

        border-radius: 1.5rem;
        background-color: rgba($color: #fff, $alpha: 0.05);

        border-radius: 1.5rem;

        -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);

        // &::before {
        //     z-index: -1;

        //     position: absolute;
        //     content: '';

        //     width: 100%;
        //     height: 100%;

        //     top: 50%;
        //     left: 50%;

        //     transform: translate(-50%, -50%);

        //     background-color: rgba($color: #fff, $alpha: 0.05);
        //     border-radius: 1.5rem;

        //     filter: blur(10px);
        // }
    }

    // li::before {
    //     z-index: -1;

    //     position: absolute;
    //     content: '';

    //     width: 100%;
    //     height: 100%;  

    //     top: -0.1875rem;
    //     left: -0.25rem;  

    //     --smooth-corners: 48, 4;    

    //     mask-image: paint(smooth-corners);
    //     -webkit-mask-image: paint(smooth-corners);  

    //     background-color: rgba($color: #fff, $alpha: 1.0);
    // }

    img {
        z-index: -2;
        position: absolute;
    }

    #bc-concrete-green {
        width: 33.75rem;
        height: 33.75rem;

        top: 50%;
        left: 50%;

        transform: translate(78%, -120%);
    }

    #bc-concrete-yellow {
        width: 12.5rem;
        height: 12.5rem;

        top: 50%;
        left: 50%;

        transform: translate(315%, -75%);
    }

    #bc-concrete-white {
        width: 25rem;
        height: 25rem;

        top: 50%;
        left: 50%;

        transform: translate(85%, -18%);
    }

    #bc-concrete-grey {
        width: 12.5rem;
        height: 12.5rem;

        top: 50%;
        left: 50%;

        transform: translate(290%, 150%);
    }

    #bc-concrete-red {
        z-index: -1;

        width: 17.3125rem;
        height: 17.3125rem;

        top: 50%;
        left: 50%;

        transform: translate(120%, -120%);
    }

}