{% extends "base/base.njk" %}

{% block content %}
    <section id="Success">
        <img class="d-none d-md-inline-block" id="ball-green" src="@images/balls/green.png" alt="" />
        <img class="d-none d-sm-inline-block" id="ball-yellow" src="@images/balls/yellow.png" alt="" />
        <img class="d-none d-md-inline-block" id="ball-white" src="@images/balls/white.png" alt="" />
        <img class="d-none d-md-inline-block" id="ball-grey" src="@images/balls/grey.png" alt="" />
        <img class="d-none d-sm-inline-block" id="ball-red" src="@images/balls/red.png" alt="" />

        <div class="container my-wrapper">
            <h1 class="heading">{{ form_success.main_content.heading }}</h1>
            <h2 class="subheading">{{ form_success.main_content.subheading | nl2br }}</h2>

            <p class="return-button"><a href="@page/index.html">{{ form_success.main_content.button_text }}</a></p>
        </div>
    </section>
{% endblock %}
