{% extends "base/base.njk" %}

{% block content %}
    <div class="my-shadow-group">
        <section id="privacy" class="my-privacy">
            <div class="container my-wrapper">
                <div class="row justify-content-center">
                    <h1 class="my-title my-title--privacy">{{ privacy.main_content.heading }}</h1>
                </div>

                <div class="row">
                    <nav class="my-table-of-contents" aria-label="Содержание политики конфиденциальности">
                        <details class="my-table-of-contents__details">
                            <summary class="my-table-of-contents__summary">
                                <svg class="my-table-of-contents__summary-svg" width="16" height="16" aria-hidden="true">
                                    <use href="@icons/other/summary-details-block.svg"></use>
                                </svg>
                                <h3 class="my-subtitle my-subtitle--table-of-contents">Содержание</h3>
                            </summary>

                            <ol class="my-table-of-contents__list">
                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-general">1. Общие положения</a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-general">
                                        2. Основные понятия, используемые в Политике
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <details class="my-table-of-contents__nested-details">
                                        <summary class="my-table-of-contents__nested-summary">
                                            <svg class="my-table-of-contents__nested-summary-svg" width="16" height="16" aria-hidden="true">
                                                <use href="@icons/other/summary-details-block.svg"></use>
                                            </svg>
                                            <a
                                                class="my-link my-link--table-of-contents my-link--disable-transform"
                                                href="#privacy-operator-rights">
                                                3. Основные права и обязанности Оператора
                                            </a>
                                        </summary>

                                        <ol class="my-table-of-contents__list">
                                            <li class="my-table-of-contents__list-item">
                                                <a class="my-link my-link--table-of-contents" href="#privacy-operator-rights">
                                                    3.1. Оператор имеет право
                                                </a>
                                            </li>
                                            <li class="my-table-of-contents__list-item">
                                                <a class="my-link my-link--table-of-contents" href="#privacy-operator-rights">
                                                    3.2. Оператор обязан
                                                </a>
                                            </li>
                                        </ol>
                                    </details>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <details class="my-table-of-contents__nested-details">
                                        <summary class="my-table-of-contents__nested-summary">
                                            <svg class="my-table-of-contents__nested-summary-svg" width="16" height="16" aria-hidden="true">
                                                <use href="@icons/other/summary-details-block.svg"></use>
                                            </svg>
                                            <a
                                                class="my-link my-link--table-of-contents my-link--disable-transform"
                                                href="#privacy-subject-rights">
                                                4. Основные права и обязанности субъектов персональных данных
                                            </a>
                                        </summary>

                                        <ol class="my-table-of-contents__list">
                                            <li class="my-table-of-contents__list-item">
                                                <a class="my-link my-link--table-of-contents" href="#privacy-subject-rights">
                                                    4.1. Субъекты персональных данных имеют право
                                                </a>
                                            </li>
                                            <li class="my-table-of-contents__list-item">
                                                <a class="my-link my-link--table-of-contents" href="#privacy-subject-rights">
                                                    4.2. Субъекты персональных данных обязаны
                                                </a>
                                            </li>
                                            <li class="my-table-of-contents__list-item">
                                                <a class="my-link my-link--table-of-contents" href="#privacy-subject-rights">
                                                    4.3. Лица, передавшие Оператору недостоверные сведения о себе...
                                                </a>
                                            </li>
                                        </ol>
                                    </details>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-principles">
                                        5. Принципы обработки персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-purposes">
                                        6. Цели обработки персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-conditions">
                                        7. Условия обработки персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-order">
                                        8. Порядок сбора, хранения, передачи и других видов обработки персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-actions">
                                        9. Перечень действий, производимых Оператором с полученными персональными данными
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-transborder">
                                        10. Трансграничная передача персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-confidentiality">
                                        11. Конфиденциальность персональных данных
                                    </a>
                                </li>

                                <li class="my-table-of-contents__list-item">
                                    <a class="my-link my-link--table-of-contents" href="#privacy-final">12. Заключительные положения</a>
                                </li>
                            </ol>
                        </details>
                    </nav>
                </div>

                <div class="row">
                    <ol class="my-list my-list--numeric">
                        {% for point in privacy.main_content.policy_points %}
                            <li class="my-list__item">
                                <h3 class="my-subtitle my-subtitle--privacy">{{ point.title }}</h3>

                                {% if point.paragraph and point.paragraph | length > 0 %}
                                    <p class="my-paragraph my-paragraph--in-list">{{ point.paragraph }}</p>
                                {% endif %}

                                {% if point.content %}
                                    <!-- ВАРИАНТ 1: Простой нумерованный список (как в пункте 1) --->
                                    {% if point.content.type == "simple_numeric_list" %}
                                        <ol class="my-list__sub-list">
                                            {% for item in point.content.items %}
                                                <li class="my-list__item my-paragraph my-paragraph--in-list">{{ item }}</li>
                                            {% endfor %}
                                        </ol>

                                        <!-- ВАРИАНТ 2: Сложные нумерованные списки с вложенными списками (как в пункте 3) --->
                                    {% elif point.content.type == "numeric_list_with_nested_lists" %}
                                        <ol class="my-list__sub-list my-list__sub-list--with-nested-list">
                                            {% for group in point.content.groups %}
                                                <li class="my-list__item">
                                                    <h4 class="my-subtitle my-subtitle--privacy-small">{{ group.title }}</h4>
                                                    {% if group.items and group.items | length > 0 %}
                                                        <ul class="my-list__sub-sub-list">
                                                            {% for item in group.items %}
                                                                <li class="my-list__item my-paragraph my-paragraph--in-list">{{ item }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ol>

                                        <!-- ВАРИАНТ 3: Только таблица (как в пункте 6) --->
                                    {% elif point.content.type == "only_table" %}
                                        <div class="my-table-wrapper">
                                            <table class="my-table">
                                                <tbody class="my-table__body">
                                                    {% for row in point.content.rows %}
                                                        <tr class="my-table__row">
                                                            <td class="my-table__item-header">
                                                                <strong class="my-paragraph my-paragraph--strong">{{ row.label }}</strong>
                                                            </td>
                                                            <td class="my-table__item">
                                                                <ul class="my-list my-list--bullet">
                                                                    {% for item in row.items %}
                                                                        <li class="my-list__item my-paragraph my-paragraph--in-table">
                                                                            {{ item }}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- ВАРИАНТ 4: Только параграф (как в пункте 11) --->
                                        {# {% elif point.content.type == "only_paragraph" %} #}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </section>

        <section id="cookie-policy" class="my-cookie-policy">
            <div class="container my-wrapper">
                <div class="row justify-content-center">
                    <h2 class="my-title my-title--cookie-policy">{{ privacy.cookies_content.heading }}</h2>
                </div>

                <div class="row">
                    {% for point in privacy.cookies_content.policy_points %}
                        {% if point.title and point.title | length > 0 %}
                            <h3 class="my-subtitle my-subtitle--privacy">{{ point.title }}</h3>
                        {% endif %}

                        {% if point.paragraph and point.paragraph | length > 0 %}
                            <p class="my-paragraph my-paragraph--privacy">{{ point.paragraph }}</p>
                        {% endif %}

                        {% if point.content %}
                            <!-- ВАРИАНТ 1: Простой параграф --->
                            {% if point.content.type == "default_content" %}
                                {% for item in point.content.items %}
                                    <p class="my-paragraph my-paragraph--privacy">{{ item }}</p>
                                {% endfor %}

                                <!-- ВАРИАНТ 2: Параграф с ненумерованным списком --->
                            {% elif point.content.type == "content_with_non_numeric_list" %}
                                {% for item in point.content.items %}
                                    <p class="my-paragraph my-paragraph--privacy">{{ item.paragraph }}</p>

                                    {% if item.list and item.list | length > 0 %}
                                        <ul class="my-list my-list--dashed">
                                            {% for item_from_list in item.list %}
                                                <li class="my-list__item my-paragraph my-paragraph--in-list">{{ item_from_list }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
