/* stylelint-disable keyframes-name-pattern */
@use '../abstracts/mixins' as mixin;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

@keyframes hero-gravity-move-1 {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes hero-gravity-move-2 {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.my-balls-group {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-around;

    &__picture,
    &__3d-model {
        position: absolute;
        inset: 0;

        // animation: none;
    }

    &__picture {
        z-index: z('higher');
        display: flex;

        align-items: center;
        justify-content: center;
    }

    &__3d-model {
        z-index: z('higher_2x');
        display: none;

        // touch-action: none;
        // user-select: none;
    }

    &__img {
        aspect-ratio: initial;
        width: 100%;
    }

    &__ball-wrapper {
        will-change: filter, transform;
        transform: translateZ(0);

        position: relative;
        aspect-ratio: 1 / 1;

        width: 100%;
        // max-width: 168px;
        max-width: 192px;

        border: 0;
        border-radius: 50%;

        padding: 2px;
        padding-right: 3px;

        // box-shadow: 2px 3px 10px #000;
        filter: drop-shadow(3px 2px 2px #000);

        &[data-variant='3d'] {
            // animation: none !important;

            .my-balls-group__picture {
                display: none;
            }

            .my-balls-group__3d-model {
                display: flex;

                align-items: center;
                justify-content: center;
            }
        }

        @include bs.media-breakpoint-down(xl) {
            max-width: 168px;
        }

        @include bs.media-breakpoint-down(lg) {
            max-width: 120px;
        }

        @include bs.media-breakpoint-down(sm) {
            max-width: clamp(72px, 0.1875 * 100vw + 12px, 120px);

            pointer-events: none;
            user-select: none;
        }
    }

    &--hero-section {
        gap: 0;

        .my-balls-group__ball-wrapper {
            &--green {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
            }

            &--yellow {
                animation: hero-gravity-move-2 10s ease-in-out infinite;
            }

            &--white {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
            }

            &--grey {
                animation: hero-gravity-move-2 10s ease-in-out infinite;
            }

            &--red {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
            }
        }

        @include bs.media-breakpoint-down(md) {
            // column-gap: 48px;
            gap: calc(0.5 * var(--layout__global__spacing))
                calc(1.5 * var(--layout__global__spacing));

            .my-balls-group__ball-wrapper {
                &--green {
                    animation: hero-gravity-move-1 10s ease-in-out infinite;
                }

                &--yellow {
                    animation: hero-gravity-move-1 10s ease-in-out infinite;
                    animation-delay: -2s;
                }

                &--white {
                    animation: hero-gravity-move-1 10s ease-in-out infinite;
                    animation-delay: -4s;
                }

                &--grey {
                    animation: hero-gravity-move-2 10s ease-in-out infinite;
                    animation-delay: -6s;
                }

                &--red {
                    animation: hero-gravity-move-2 10s ease-in-out infinite;
                    animation-delay: -8s;
                }
            }
        }

        @include bs.media-breakpoint-down(sm) {
            // column-gap: clamp(16px, 0.0938 * 100vw - 14px, 40px);
            gap: calc(0.25 * var(--layout__global__spacing))
                calc(1 * var(--layout__global__spacing));
        }
    }

    &--description {
        justify-content: center;

        // column-gap: 48px;
        column-gap: calc(1.5 * var(--layout__global__spacing));

        .my-balls-group__ball-wrapper {
            max-width: 144px;

            &--green {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
            }

            &--yellow {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
                animation-delay: -2s;
            }

            &--white {
                animation: hero-gravity-move-1 10s ease-in-out infinite;
                animation-delay: -4s;
            }

            &--grey {
                animation: hero-gravity-move-2 10s ease-in-out infinite;
                animation-delay: -6s;
            }

            &--red {
                animation: hero-gravity-move-2 10s ease-in-out infinite;
                animation-delay: -8s;
            }
        }

        // @include bs.media-breakpoint-down(lg) {
        //     column-gap: 40px;
        // }

        @include bs.media-breakpoint-down(sm) {
            display: none;
            // column-gap: calc(1 * var(--layout__global__spacing));
        }
    }

    &--decorative {
        // z-index: z('decoration');
        // pointer-events: none;

        &[data-variant='usage'] {
            z-index: z('decoration');
            pointer-events: none;

            position: absolute;
            inset: 0;

            .my-balls-group__ball-wrapper {
                will-change: transform;
                position: absolute;

                top: 50%;
                left: 50%;

                display: flex;

                align-items: center;
                justify-content: center;

                &--green {
                    z-index: z('higher');

                    // max-width: 540px;
                    max-width: 405px;

                    transform: translate(55%, -120%);

                    @keyframes usage-gravity-ball-green {
                        0% {
                            transform: translate(55%, -120%);
                        }

                        50% {
                            transform: translate(55%, -115%);
                        }

                        100% {
                            transform: translate(55%, -120%);
                        }
                    }

                    animation: usage-gravity-ball-green 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

                    @include bs.media-breakpoint-down(xl) {
                        transform: translate(60%, -120%);

                        @keyframes usage-gravity-ball-green {
                            0% {
                                transform: translate(60%, -120%);
                            }

                            50% {
                                transform: translate(60%, -115%);
                            }

                            100% {
                                transform: translate(60%, -120%);
                            }
                        }
                    }

                    @include bs.media-breakpoint-down(sm) {
                        will-change: none;
                        animation: none;
                    }
                }

                &--yellow {
                    z-index: z('higher');

                    // max-width: 352px;
                    max-width: 264px;

                    transform: translate(65%, -33%);

                    @keyframes usage-gravity-ball-yellow {
                        0% {
                            transform: translate(65%, -33%);
                        }

                        50% {
                            transform: translate(70%, -35%);
                        }

                        100% {
                            transform: translate(65%, -33%);
                        }
                    }

                    animation: usage-gravity-ball-yellow 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -1s;

                    @include bs.media-breakpoint-down(xxl) {
                        transform: translate(66%, -28%);

                        @keyframes usage-gravity-ball-yellow {
                            0% {
                                transform: translate(66%, -28%);
                            }

                            50% {
                                transform: translate(70%, -32%);
                            }

                            100% {
                                transform: translate(66%, -28%);
                            }
                        }
                    }

                    @include bs.media-breakpoint-down(xl) {
                        transform: translate(85%, -35%);

                        @keyframes usage-gravity-ball-yellow {
                            0% {
                                transform: translate(85%, -35%);
                            }

                            50% {
                                transform: translate(82%, -32%);
                            }

                            100% {
                                transform: translate(85%, -35%);
                            }
                        }
                    }

                    @include bs.media-breakpoint-down(sm) {
                        will-change: none;
                        animation: none;
                    }
                }

                &--white {
                    // z-index: z('lower');

                    // max-width: 168px;
                    max-width: 126px;

                    transform: translate(155%, -143.5%);

                    @keyframes usage-gravity-ball-white {
                        0% {
                            transform: translate(155%, -143.5%);
                        }

                        50% {
                            transform: translate(165%, -135.5%);
                        }

                        100% {
                            transform: translate(155%, -143.5%);
                        }
                    }

                    animation: usage-gravity-ball-white 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -6s;

                    @include bs.media-breakpoint-down(xxl) {
                        transform: translate(150%, -135.5%);

                        @keyframes usage-gravity-ball-white {
                            0% {
                                transform: translate(150%, -135.5%);
                            }

                            50% {
                                transform: translate(175%, -129.5%);
                            }

                            100% {
                                transform: translate(150%, -135.5%);
                            }
                        }
                    }

                    @include bs.media-breakpoint-down(xl) {
                        // width: 176px;
                        width: 132px;

                        transform: translate(155%, -146%);

                        @keyframes usage-gravity-ball-white {
                            0% {
                                transform: translate(155%, -146%);
                            }

                            50% {
                                transform: translate(175%, -133.5%);
                            }

                            100% {
                                transform: translate(155%, -146%);
                            }
                        }
                    }

                    @include bs.media-breakpoint-down(sm) {
                        will-change: none;
                        animation: none;
                    }
                }

                &--grey {
                    // z-index: z('lower');

                    // max-width: 520px;
                    max-width: 390px;

                    transform: translate(90%, 10%);

                    @keyframes usage-gravity-ball-grey {
                        0% {
                            transform: translate(90%, 10%);
                        }

                        50% {
                            transform: translate(85%, 5%);
                        }

                        100% {
                            transform: translate(90%, 10%);
                        }
                    }

                    animation: usage-gravity-ball-grey 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    // animation-delay: 0;
                }

                &--red {
                    z-index: z('higher');

                    // max-width: 288px;
                    max-width: 216px;

                    transform: translate(180%, -62.5%);

                    @keyframes usage-gravity-ball-red {
                        0% {
                            transform: translate(180%, -62.5%);
                        }

                        50% {
                            transform: translate(190%, -65.5%);
                        }

                        100% {
                            transform: translate(180%, -62.5%);
                        }
                    }

                    animation: usage-gravity-ball-red 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -0.5s;

                    @include bs.media-breakpoint-down(sm) {
                        will-change: none;
                        animation: none;
                    }
                }
            }
        }

        &[data-variant='feedback-form'] {
            z-index: z('default');
            position: relative;

            aspect-ratio: 1 / 1;
            height: auto;

            .my-balls-group__ball-wrapper {
                will-change: transform;

                // z-index: z('lower');
                // z-index: z('default');
                position: absolute;

                left: 0;
                top: 0;

                &--green {
                    z-index: z('higher');

                    // max-width: 76.22%;
                    max-width: 57.41%;

                    top: 0;
                    left: 0;

                    @keyframes feedback-form__gravity-effect__ball-green {
                        0% {
                            transform: translate(0, 0);
                        }

                        50% {
                            transform: translate(0, 5%);
                        }

                        100% {
                            transform: translate(0, 0);
                        }
                    }

                    animation: feedback-form__gravity-effect__ball-green 10s
                        cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: 0;
                }

                &--yellow {
                    // z-index: z('background');

                    // max-width: 45.73%;
                    max-width: 34.3%;

                    top: 28.05%;
                    left: 54.88%;

                    @keyframes feedback-form__gravity-effect__ball-yellow {
                        0% {
                            transform: translate(0, 0);
                        }

                        50% {
                            transform: translate(-7%, 3.5%);
                        }

                        100% {
                            transform: translate(0, 0);
                        }
                    }

                    animation: feedback-form__gravity-effect__ball-yellow 10s
                        cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -7s;
                }

                &--white {
                    z-index: z('higher_2x');

                    // max-width: 33.54%;
                    max-width: 25.16%;

                    top: 2.44%;
                    left: 51.83%;

                    @keyframes feedback-form__gravity-effect__ball-white {
                        0% {
                            transform: translate(0, 0);
                        }

                        50% {
                            transform: translate(15%, -6%);
                        }

                        100% {
                            transform: translate(0, 0);
                        }
                    }

                    animation: feedback-form__gravity-effect__ball-white 10s
                        cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -5s;
                }

                &--grey {
                    z-index: z('higher_2x');

                    // max-width: 54.27%;
                    max-width: 40.7%;

                    top: 46.34%;
                    left: 0;

                    @keyframes feedback-form__gravity-effect__ball-grey {
                        0% {
                            transform: translate(0, 0);
                        }

                        50% {
                            transform: translate(3%, 10%);
                        }

                        100% {
                            transform: translate(0, 0);
                        }
                    }

                    animation: feedback-form__gravity-effect__ball-grey 10s
                        cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -2s;
                }

                &--red {
                    z-index: z('higher_2x');

                    // max-width: 34.76%;
                    max-width: 26.07%;

                    top: 63.41%;
                    left: 48.78%;

                    @keyframes feedback-form__gravity-effect__ball-red {
                        0% {
                            transform: translate(0, 0);
                        }

                        50% {
                            transform: translate(-10%, 17%);
                        }

                        100% {
                            transform: translate(0, 0);
                        }
                    }

                    animation: feedback-form__gravity-effect__ball-red 10s
                        cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    animation-delay: -7.3s;
                }
            }
        }
    }

    @include bs.media-breakpoint-down(md) {
        justify-content: center;
    }
}
