@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;

@use '../vendors/bootstrap' as bs;

.my-contact-list {
    @extend %list--contact;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    // text-align: center;

    // font-family: 'Montserrat', sans-serif;
    // font-optical-sizing: auto;
    // font-style: normal;

    // list-style: none;

    // padding: 0;
    // margin: 0;

    &__header {
        @extend %list--contact__text-header;
        @include mixin.transition-all(color);

        will-change: color;

        // font-weight: 500;
        // font-size: clamp(16px, 0.0056 * 100vw + 14.2222px, 22px);

        // line-height: 1.5em;

        // letter-spacing: 0.11em;
        // margin-left: 0.11em;

        // text-wrap-mode: wrap;
        // text-wrap-style: pretty;

        // color: var(--color__global__text);

        // margin-bottom: 1.25em;

        // @include bs.media-breakpoint-down(sm) {
        //     letter-spacing: 0.08em;
        //     margin-left: 0.08em;
        // }
    }

    &__item {
        @extend %list--contact__text;

        will-change: color, transform;
        display: inline-block;

        // margin-bottom: 12px;
        // margin-bottom: 0;

        // &:last-child {
        //     margin-bottom: 0;
        // }

        // font-weight: 400;
        // font-size: clamp(14px, 0.0056 * 100vw + 12.2222px, 20px);

        // line-height: 1.5em;

        // letter-spacing: 0.09em;
        // text-indent: 0.09em;

        // text-decoration: none;
        // text-wrap-mode: nowrap;
        // text-wrap-style: pretty;

        // color: var(--color__global__text);

        transform-origin: center center;
        transition:
            color 0.3s ease-in-out,
            transform 0.3s ease-in-out;

        // &:not(:last-child) {
        //     margin-bottom: 0.8em;
        // }

        &:focus {
            color: var(--color__global__text--focus);
        }

        @include mixin.hover {
            color: var(--color__global__text--hover);
            transform: scale(1.025);

            // @include bs.media-breakpoint-down(sm) {
            //     transform: none;
            // }
        }

        @include mixin.active {
            color: var(--color__global__text--active);
            transform: scale(0.975);
        }

        // @include bs.media-breakpoint-down(sm) {
        //     letter-spacing: 0.035em;
        //     text-indent: 0.035em;
        // }
    }

    &__link {
        color: inherit;
        text-decoration: inherit;
    }
}
