@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;

@use '../vendors/bootstrap' as bs;

// TODO: убрать белый цвет focus
.my-logo {
    @extend %text__logo--header;
    @include mixin.transition-for(color, transform);
    will-change: transform;

    display: flex;
    align-items: center;

    column-gap: 0.5em;
    padding: 0;

    transform-origin: center center;

    &:focus {
        color: var(--color__global__primary--focus);
    }

    @include mixin.hover {
        color: var(--color__global__primary--hover);
        transform: scale(var.$abstract__global__scale--hover);
    }

    @include mixin.active {
        color: var(--color__global__primary--active);
        transform: scale(var.$abstract__global__scale--active);
    }

    &__svg {
        flex: 0 0 auto;

        aspect-ratio: 1 / 1;
        width: 2.71em;

        font-size: inherit;
    }

    &__company-name-and-motto-container {
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;
    }

    &__company-name {
        @extend %text__logo__company-name--header;
    }

    &__motto {
        @extend %text__logo__motto--header;
    }

    &--footer {
        @extend %text__logo--footer;
        transform-origin: center left;

        .my-logo__company-name {
            @extend %text__logo__company-name--footer;
        }

        .my-logo__motto {
            @extend %text__logo__motto--footer;
        }

        @include bs.media-breakpoint-down(md) {
            transform-origin: center center;
        }
    }
}
