@use '../abstracts/mixins' as mixin;
@use '../abstracts/placeholders' as *;

@use '../vendors/bootstrap' as bs;

.my-table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;

    @include bs.media-breakpoint-down(sm) {
        // width: 100vw;

        margin: 0 calc(-1 * var(--layout__wrapper__padding--horizontal));
        padding: 0 var(--layout__wrapper__padding--horizontal);
    }
}

.my-table {
    width: 100%;
    height: auto;

    min-width: 500px;

    // &__body {
    // }

    // &__row {
    // }

    &__item-header,
    &__item {
        vertical-align: middle;

        // padding: 24px 32px;
        padding: calc(0.5 * var(--layout__global__spacing)) calc(1 * var(--layout__global__spacing));

        border: solid 1px var(--color__global__text--solid);
    }
}
