/* stylelint-disable keyframes-name-pattern */
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

// @use '../vendors/bootstrap' as bs;

@keyframes my-parallax-move__advantage-number {
    from {
        transform: translateY(var(--slide-start));
    }

    to {
        transform: translateY(var(--slide-end));
    }
}

.my-title {
    @extend %text__title;
    @include mixin.transition-all(color);

    will-change: color;

    &--hero {
        @extend %text__title--hero;

        display: inline-flex;
        flex-direction: column;

        row-gap: 0.25em;

        .my-title__main-text {
            @extend %text__title--hero__main-text;
        }

        .my-title__subtext {
            @extend %text__title--hero__subtext;
        }
    }

    &--privacy {
        @extend %text__title--privacy;
    }

    &--cookie-policy {
        @extend %text__title--cookie-policy;
    }

    &--footer {
        @extend %text__title--footer;
    }
}
