@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

.usage-list {
    list-style: none;
    counter-reset: usage-list-counter;

    &__item {
        @extend %text__paragraph--usage;
        @include mixin.transition-all(background-color, color, transform);

        will-change: background-color, color, transform, box-shadow;
        counter-increment: usage-list-counter;

        position: relative;
        list-style: inherit;

        background-color: var(--color__examples__numeric-list-background);

        box-shadow: 0.1em 0.15em 0.4em 0 var(--color__global__shadow);
        // box-shadow: 0 0 0.4em 0 var(--color__global__shadow);

        backdrop-filter: blur(10px);

        // * from form input
        // padding: 1.025em 1.25em;
        // padding: 17.425px 21.25px;

        // padding: 0.87125em 1.0625em;

        padding: 0.666em 1.333em;

        // border: 2px solid rgba(255, 255, 255, 10%);
        border: 0;
        border-radius: 1.2em;

        // pointer-events: none;
        cursor: pointer;

        @include mixin.hover {
            transform: scale(1.025);
        }

        @include mixin.active {
            transform: scale(0.975);
        }

        &::before {
            @extend %text__paragraph--usage__before;
            content: counter(usage-list-counter) '.';

            display: inline-block;
            margin-right: calc(0.5 * var(--layout__global__spacing));

            transform: translateY(2px);
        }
    }
}
