// ! --- Используются !important, чтобы перебить специфичность
// ! ---------------------------------------------------------
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto !important;
    }

    *,
    *::before,
    *::after {
        animation: none !important;
        animation-delay: 0s !important;
        animation-duration: 0s !important;
        animation-iteration-count: 0 !important;

        transition: 0 !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
