/* stylelint-disable custom-property-empty-line-before */
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

// * --- CSS VARIABLES
// * -----------------
:root {
    --layout__wrapper__padding--horizontal: var(--layout__global__spacing);

    // --layout__header__navigation-bar-height: #{mixin.fluid(60px, 100px)};
    --layout__header__navigation-bar-height: #{mixin.fluid(56px, 96px)};

    @include bs.media-breakpoint-down(md) {
        // --layout__header__navigation-bar__control-group__height: #{mixin.fluid-with-range(
        //         60px,
        //         80px,
        //         xs,
        //         md
        //     )};

        // --layout__header__navigation-bar__control-group__height: #{mixin.fluid(60px, 100px)};
        --layout__header__navigation-bar__control-group__height: #{mixin.fluid(72px, 96px)};
    }
}
