/* stylelint-disable scss/dollar-variable-pattern */

// * --- SASS VARIABLES
// * ------------------
$abstract__global__transition-duration: 300ms;
$abstract__global__transition-timing-function: ease-in-out;

$abstract__global__scale--hover: 1.025;
$abstract__global__scale--active: 0.975;
