/* stylelint-disable keyframes-name-pattern */
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

@keyframes footer__fade-in-out-effect {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 0;
    }
}

@keyframes footer__left-decorative-square__move-effect {
    0% {
        transform: translate(-48.1%, -30%) rotate(-17deg);
    }

    50% {
        transform: translate(-53.1%, -40%) rotate(-27deg);
    }

    100% {
        transform: translate(-48.1%, -30%) rotate(-17deg);
    }
}

@keyframes footer__right-decorative-square__move-effect {
    0% {
        transform: translate(-48.2%, -50%) rotate(40deg);
    }

    50% {
        transform: translate(-50%, -30%) rotate(47deg);
    }

    100% {
        transform: translate(-48.2%, -50%) rotate(40deg);
    }
}

.my-footer {
    z-index: z('footer');

    overflow: hidden;
    position: sticky;

    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(
        -17deg,
        var(--color__footer__background--gradient-step-1) 0%,
        var(--color__footer__background--gradient-step-2) 100%
    );

    &::after {
        @include mixin.transition-for(background-color);
        will-change: opacity;

        content: '';

        position: absolute;
        inset: 0;

        background-color: var(--color__global__fade);
        opacity: 0;

        animation: footer__fade-in-out-effect linear both;

        animation-timeline: scroll(root);
        animation-range: calc(100% - var(--my-footer-height, 641px)) 100%;

        pointer-events: none;
        user-select: none;
    }

    &__decorative-square {
        @include mixin.transition-for(background-color);
        will-change: transform;

        z-index: z('background');
        position: absolute;

        background-color: red;

        aspect-ratio: 1 / 1;
        width: 100px;

        top: 50%;
        left: 50%;

        pointer-events: none;

        &--left {
            width: 20000px;
            height: 180%;

            background-color: var(--color__decorative-element__background);

            transform: translate(-48.2%, -50%) rotate(40deg);
            animation: footer__right-decorative-square__move-effect 90s ease-in-out infinite;
        }

        &--right {
            width: 20000px;
            height: 120%;

            background-color: var(--color__decorative-element__background);

            transform: translate(-48.1%, -30%) rotate(-17deg);
            animation: footer__left-decorative-square__move-effect 90s ease-in-out infinite;
        }

        @include bs.media-breakpoint-down(sm) {
            will-change: auto;
            animation: none;

            display: none;

            width: 100vw;
            height: 40%;
        }
    }

    &__information-container {
        display: grid;
        grid-template:
            'my-footer__logo my-footer__navigation' auto
            'my-footer__legal my-footer__navigation' 1fr / 1fr auto;

        padding: calc(3 * var(--layout__global__spacing)) 0;

        @include bs.media-breakpoint-down(md) {
            grid-template:
                'my-footer__logo' auto
                'my-footer__navigation' auto
                'my-footer__legal' auto / auto;

            justify-content: center;
            row-gap: calc(1.5 * var(--layout__global__spacing));
        }
    }

    &__logo {
        grid-area: my-footer__logo;
        align-self: start;

        @include bs.media-breakpoint-down(md) {
            place-self: auto center;
        }
    }

    &__legal {
        grid-area: my-footer__legal;
        align-self: end;

        @include bs.media-breakpoint-down(md) {
            align-self: auto;

            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    &__navigation {
        grid-area: my-footer__navigation;
        justify-self: end;

        @include bs.media-breakpoint-down(md) {
            justify-self: auto;

            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    &__copyright-container {
        display: flex;
        flex-flow: row nowrap;

        align-items: center;
        justify-content: space-between;

        padding: calc(1 * var(--layout__global__spacing)) 0;

        @include bs.media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__copyright-owner-text {
        @extend %text__copyright--owner;
        flex: 0 0 auto;
    }

    &__copyright-developer-text {
        @extend %text__copyright--developer;
        flex: 0 0 auto;
    }

    &--relative {
        position: relative;

        &::after {
            display: none;
        }
    }

    .no-js & {
        @include bs.media-breakpoint-up(xxl) {
            // &::after {
            //     animation-range: calc(100% - var(--my-footer-height, 641px)) 100%;
            // }

            @media (max-height: 641px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-between(xl, xxl) {
            --my-footer-height: 639.92px;

            @media (max-height: 639.92px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-between(lg, xl) {
            --my-footer-height: 558.67px;

            @media (max-height: 558.67px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-between(md, lg) {
            --my-footer-height: 554.63px;

            @media (max-height: 554.63px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-between(sm, md) {
            --my-footer-height: 780.17px;

            @media (max-height: 780.17px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-between(xs, sm) {
            --my-footer-height: 767.61px;

            @media (max-height: 767.61px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        @include bs.media-breakpoint-down(xs) {
            --my-footer-height: 745.11px;

            @media (max-height: 745.11px) {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }
    }
}
