/* stylelint-disable keyframes-name-pattern */
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;

@use '../../vendors/bootstrap' as bs;

@keyframes paragraph__background__running-gradient-effect {
    to {
        background-position: var(--bg-size) 0;
    }
}

.my-paragraph {
    @extend %text__paragraph;

    &--hero-slogan {
        @extend %text__paragraph--hero-slogan;
        will-change: background-position;

        --bg-size: 200%;

        background: linear-gradient(
                90deg,
                var(--color__hero__slogan-text--gradient-step-1) 0%,
                var(--color__hero__slogan-text--gradient-step-2) 25%,
                var(--color__hero__slogan-text--gradient-step-3) 50%,
                var(--color__hero__slogan-text--gradient-step-2) 75%,
                var(--color__hero__slogan-text--gradient-step-1) 100%
            )
            0 0 / var(--bg-size) 100%;

        background-clip: text;

        color: transparent;
        -webkit-text-fill-color: transparent;

        animation: paragraph__background__running-gradient-effect 10s linear infinite;
    }

    &--advantage {
        @extend %text__paragraph--advantage;
    }

    &--privacy {
        @extend %text__paragraph--privacy;
    }

    &--in-list {
        @extend %text__paragraph--in-list;
    }

    &--in-table {
        @extend %text__paragraph--in-table;
    }

    &--strong {
        @extend %text__paragraph--strong;
    }
}
