@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/placeholders' as *;

@use '../../vendors/bootstrap' as bs;

// todo: сделать фоллбэк через max-height для firefox и safari
.my-table-of-contents {
    margin-bottom: var(--typography__global__title__margin-bottom);

    // * --- DETAILS
    // * -----------
    &__details,
    &__nested-details {
        overflow: hidden;
        margin-bottom: 0;

        &::details-content {
            @include mixin.transition-for(block-size, content-visibility);
            // transition:
            //     block-size ease-in-out 300ms,
            //     content-visibility ease-in-out 300ms;

            transition-behavior: allow-discrete;
            block-size: 0%;
        }

        &:open,
        &[open] {
            &::details-content {
                block-size: auto;
            }
        }
    }

    // * --- SUMMARY
    // * -----------
    &__summary,
    &__nested-summary {
        display: flex;
        list-style: none;

        font-size: inherit;
        line-height: inherit;

        align-items: baseline;
        justify-content: flex-start;

        gap: 8px;
        margin-bottom: 0;
    }

    // * --- MARKER
    // * ----------
    &__summary::marker,
    &__summary:is(::-webkit-details-marker),
    &__nested-summary::marker,
    &__nested-summary:is(::-webkit-details-marker) {
        display: none;
    }

    // * --- SVG
    // * -------
    &__summary-svg,
    &__nested-summary-svg {
        @include mixin.transition-for(transform, color);

        flex: 0 0 auto;
        font-size: inherit;

        position: relative;
        display: flex;
        aspect-ratio: 1 / 1;

        align-items: center;
        justify-content: center;

        transform-origin: center center;
        // transition: transform ease-in-out 300ms;
    }

    &__summary-svg {
        width: 2em;

        top: 0.5em;
        // transform: translateY(0.5em);

        :open > summary > &,
        [open] > summary > & {
            // transform: translateY(0.5em) rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &__nested-summary-svg {
        width: 1em;

        top: 0.15em;
        // transform: translateY(0.15em);

        :open > summary > &,
        [open] > summary > & {
            // transform: translateY(0.15em) rotate(90deg);
            transform: rotate(90deg);
        }
    }

    // * --- LIST
    // * --------
    &__list {
        padding-left: calc(1 * var(--layout__global__spacing));
        margin-bottom: 0;

        details.my-table-of-contents__details > & {
            margin-top: var(--typography__global__subtitle__margin-bottom);
        }

        details.my-table-of-contents__nested-details > & {
            margin-top: var(--typography__global__base__margin-bottom);
        }
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: var(--typography__global__base__margin-bottom);
        }
    }
}
