@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

@keyframes advantages-gravity-move {
    0% {
        transform: translateY(-2rem);
    }

    50% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(-2rem);
    }
}

.my-advantages {
    z-index: z('my_advantages');
    position: relative;

    // &__content {
    //     // empty
    // }

    &__advantages-container {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: center;

        padding: 0;
        margin: 0;

        list-style: none;
        counter-reset: advantage-counter;

        @include bs.media-breakpoint-down(lg) {
            // row-gap: 180px;
            row-gap: calc(6 * var(--typography__global__line-height));
        }

        // @include bs.media-breakpoint-down(md) {
        //     row-gap: 140px;
        // }

        @include bs.media-breakpoint-down(sm) {
            // row-gap: 80px;
            row-gap: calc(3 * var(--typography__global__line-height));
        }

        @include bs.media-breakpoint-down(xs) {
            // row-gap: 30px;
            row-gap: calc(1.5 * var(--typography__global__line-height));
        }
    }

    &__advantage {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        counter-increment: advantage-counter;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        @include bs.media-breakpoint-down(lg) {
            position: relative; // ! ловит номер advantage на малых экранах
        }

        @include bs.media-breakpoint-down(md) {
            justify-content: center;
        }

        @include bs.media-breakpoint-down(sm) {
            min-height: 210px;
        }

        @include bs.media-breakpoint-down(xs) {
            min-height: 250px;
        }
    }

    &__text {
        flex-grow: 1;
        flex-shrink: 1;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        @include bs.media-breakpoint-down(lg) {
            flex-grow: 0;
            flex-shrink: 1;

            align-items: center;
            justify-content: flex-end;

            .my-advantages__advantage:nth-child(odd) & {
                justify-content: flex-start;
            }
        }
    }

    --advantage__picture__max-height: 536px;

    &__picture {
        will-change: transform;

        flex-grow: 0;
        flex-shrink: 0;

        aspect-ratio: 1 / 1;
        max-height: var(--advantage__picture__max-height);

        animation: advantages-gravity-move 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

        :nth-child(even) > & {
            animation-delay: -5s;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    @include bs.media-breakpoint-down(xl) {
        --advantage__picture__max-height: 440px;
    }

    @include bs.media-breakpoint-down(lg) {
        --advantage__picture__max-height: 0;
    }
}
