@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.my-advantages {
    z-index: z('my_advantages');
    position: relative;

    // &__content {
    //     // empty
    // }

    &__advantages-container {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: center;

        padding: 0;
        margin: 0;

        list-style: none;
        counter-reset: advantage-counter;

        @include bs.media-breakpoint-down(lg) {
            // row-gap: 180px;
            row-gap: calc(6 * var(--layout__global__spacing));
        }

        // @include bs.media-breakpoint-down(md) {
        //     row-gap: 140px;
        // }

        @include bs.media-breakpoint-down(sm) {
            // row-gap: 80px;
            row-gap: calc(3 * var(--layout__global__spacing));
        }

        @include bs.media-breakpoint-down(xs) {
            // row-gap: 30px;
            row-gap: calc(1.5 * var(--layout__global__spacing));
        }
    }

    &__advantage {
        container-type: inline-size;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        padding-top: 2rem;
        padding-bottom: 3rem;

        counter-increment: advantage-counter;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        // @include bs.media-breakpoint-down(xl) {
        //     padding: 56px 0;
        // }

        @include bs.media-breakpoint-down(lg) {
            position: relative; // ! ловит номер advantage на малых экранах
            padding: 0;
        }

        @include bs.media-breakpoint-down(md) {
            justify-content: center;
        }

        @include bs.media-breakpoint-down(sm) {
            min-height: 210px;
        }

        @include bs.media-breakpoint-down(xs) {
            min-height: 250px;
        }
    }

    &__text {
        flex-grow: 1;
        flex-shrink: 1;

        display: flex;
        flex-direction: column;

        min-width: 0;

        align-items: center;
        justify-content: center;

        @include bs.media-breakpoint-down(lg) {
            flex-grow: 0;
            flex-shrink: 1;

            align-items: center;
            justify-content: flex-end;

            .my-advantages__advantage:nth-child(odd) & {
                justify-content: flex-start;
            }
        }
    }

    --advantage__picture__max-height: 400px;

    &__picture-wrapper {
        // prettier-ignore
        flex: 0 0 calc(var(--advantage__picture__max-height) + 2 * (var(--advantage__picture__max-height) / 6));

        display: flex;
        place-items: center center;

        padding: 0 calc(var(--advantage__picture__max-height) / 6);
    }

    &__picture {
        will-change: transform;
        container-type: inline-size;

        aspect-ratio: 1 / 1;
        width: 100%;

        --commons__gravity-effect__start-pos: translateY(-2rem);
        --commons__gravity-effect__middle-pos: translateY(3rem);
        --commons__gravity-effect__end-pos: translateY(-2rem);

        animation: commons__gravity-effect 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

        li:nth-child(even) > div > & {
            animation-delay: -5s;
        }
    }

    &__img {
        @include mixin.transition-for(filter);

        border: 0;
        border-radius: 50%;
        filter: drop-shadow(1.75cqw 1.75cqw 1.15cqw var(--color__balls_group__shadow));

        aspect-ratio: 1 / 1;
        width: 100%;
    }

    @include bs.media-breakpoint-down(xl) {
        --advantage__picture__max-height: 330px;
    }

    @include bs.media-breakpoint-down(lg) {
        --advantage__picture__max-height: 0;
    }
}
