@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

.my-navigation-button {
    @include mixin.transition-for(background-color, color);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    // width: mixin.fluid-with-range(36px, 48px, md, xxl);
    width: auto;
    height: auto;

    padding: mixin.fluid-with-range(20px, 24px, md, xxl);

    // border-radius: 16px;
    // border-radius: 33.333%;
    border-radius: 37%;

    .houdini-squircle-ready & {
        border-radius: 0;

        --squircle-smooth: 1;
        // --squircle-radius: 33.333%;
        --squircle-radius: 37%;

        /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        mask-image: paint(squircle);
        // -webkit-mask-image: paint(squircle);
    }

    background-color: var(--color__global__primary);
    color: var(--color__global__text--alt); // icon color

    border: none;
    outline: none;

    cursor: pointer;

    &:focus,
    &:has(.my-navigation-button__link:focus) {
        background-color: var(--color__global__primary--focus);
        color: var(--color__global__text--alt--focus);
    }

    @include mixin.hover-has('.my-navigation-button__link') {
        background-color: var(--color__global__primary--hover);
        color: var(--color__global__text--alt--hover);

        .my-navigation-button__svg {
            transform: translate(-50%, -50%) scale(var.$abstract__global__scale--hover);
        }
    }

    @include mixin.active-has('.my-navigation-button__link') {
        background-color: var(--color__global__primary--active);
        color: var(--color__global__text--alt--active);

        .my-navigation-button__svg {
            transform: translate(-50%, -50%) scale(var.$abstract__global__scale--active);
        }
    }

    &:disabled,
    &[disabled],
    &:has(.my-navigation-button__link:disabled),
    &:has(.my-navigation-button__link[disabled]) {
        background-color: var(--color__global__primary--disabled);
        color: var(--color__global__text--alt--disabled);

        cursor: not-allowed;
    }

    &__link {
        display: flex;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        color: inherit;
    }

    &__svg {
        @include mixin.transition-for; // ? opacity + transform
        will-change: transform;

        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        transform-origin: center center;

        aspect-ratio: 1 / 1;

        width: mixin.fluid-with-range(20px, 24px, md, xxl);

        @include bs.media-breakpoint-down(md) {
            width: mixin.fluid-with-range(24px, 28px, xs, md);
        }
    }

    &--mobile {
        border-radius: 50%;

        .houdini-squircle-ready & {
            border-radius: 50%;
            mask-image: none;
        }

        border: none;
        outline: none;

        background-color: transparent;
        color: var(--color__global__text); // icon color

        cursor: pointer;

        &:focus,
        &:has(.my-navigation-button__link:focus) {
            background-color: transparent;
            color: var(--color__global__text--focus);
        }

        @include mixin.hover-has('.my-navigation-button__link') {
            background-color: transparent;
            color: var(--color__global__text--hover);

            // .my-navigation-button__svg {
            //     transform: translate(-50%, -50%) scale(var.$abstract__global__scale--hover);
            // }
        }

        @include mixin.active-has('.my-navigation-button__link') {
            background-color: transparent;
            color: var(--color__global__text--active);

            // .my-navigation-button__svg {
            //     transform: translate(-50%, -50%) scale(var.$abstract__global__scale--active);
            // }
        }

        &:disabled,
        &[disabled],
        &:has(.my-navigation-button__link:disabled),
        &:has(.my-navigation-button__link[disabled]) {
            background-color: transparent;
            color: var(--color__global__text--disabled);

            cursor: not-allowed;
        }
    }

    @include bs.media-breakpoint-down(md) {
        padding: mixin.fluid-with-range(12px, 14px, xs, md);
    }
}
