/**========================================================================
 **                            FEEDBACK FORM
 *========================================================================**/

#Feedback-Form {
    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;

        position: relative;

        & img {
            z-index: 0;

            position: absolute;

            left: 0;
            top: 0;

            height: auto;
            aspect-ratio: 1 / 1;
        }

        & #ball-green {
            will-change: transform;

            z-index: -1;

            width: 76.22%;

            top: 0;
            left: 0;

            // transform: translate(65%, -33%);

            @keyframes feedback_from_gravity_ball_green {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(0, 5%);
                }
                100% {
                    transform: translate(0, 0);
                }
            }

            animation-delay: 0;
            animation: feedback_from_gravity_ball_green 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

            @media (prefers-reduced-motion: reduce) {
                animation: none !important;
            }
        }

        & #ball-yellow {
            will-change: transform;

            z-index: -2;

            width: 45.73%;

            top: 28.05%;
            left: 54.88%;

            @keyframes feedback_from_gravity_ball_yellow {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(-7%, 3.5%);
                }
                100% {
                    transform: translate(0, 0);
                }
            }

            animation-delay: -7s;
            animation: feedback_from_gravity_ball_yellow 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

            @media (prefers-reduced-motion: reduce) {
                animation: none !important;
            }
        }

        & #ball-white {
            will-change: transform;

            width: 33.54%;

            top: 2.44%;
            left: 51.83%;

            @keyframes feedback_from_gravity_ball_white {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(15%, -6%);
                }
                100% {
                    transform: translate(0, 0);
                }
            }

            animation-delay: -5s;
            animation: feedback_from_gravity_ball_white 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

            @media (prefers-reduced-motion: reduce) {
                animation: none !important;
            }
        }

        & #ball-grey {
            will-change: transform;

            width: 54.27%;

            top: 46.34%;
            left: 0;

            @keyframes feedback_from_gravity_ball_grey {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(3%, 10%);
                }
                100% {
                    transform: translate(0, 0);
                }
            }

            animation-delay: -2s;
            animation: feedback_from_gravity_ball_grey 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

            @media (prefers-reduced-motion: reduce) {
                animation: none !important;
            }
        }

        & #ball-red {
            will-change: transform;

            width: 34.76%;

            top: 63.41%;
            left: 48.78%;

            @keyframes feedback_from_gravity_ball_red {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(-10%, 17%);
                }
                100% {
                    transform: translate(0, 0);
                }
            }

            animation-delay: -7.3s;
            animation: feedback_from_gravity_ball_red 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

            @media (prefers-reduced-motion: reduce) {
                animation: none !important;
            }
        }
    }

    #my-feedback-form {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        :not(:first-child) {
            margin-top: 0.6rem;
        }

        .form-field {
            @include transition-all(background-color);
            will-change: background-color;

            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: auto;

            padding: 0.191rem;

            border: none;
            border-radius: 1.25rem;

            background-color: var(--primary-color);

            --squircle-smooth: 0.78;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);

            &:hover {
                background-color: var(--primary-color--hover);
            }

            &:active {
                background-color: var(--primary-color--active);
            }

            &:focus {
                background-color: var(--primary-color--focus);
            }

            @include media-breakpoint-down(xxl) {
                padding: 0.222rem;
            }

            @include media-breakpoint-down(lg) {
                padding: 0.1875rem;

                border-radius: 0.625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.625rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(md) {
                padding: 0.2rem;

                border-radius: 0.37rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.37rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(sm) {
                padding: 0.16rem;

                border-radius: 1.15rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;
            }
        }

        input[type="text"],
        input[type="tel"] {
            @include transition-all(background-color, color);
            will-change: background-color, color;

            width: 100%;
            height: auto;

            padding: 0.9rem 1.125rem;

            border: none;
            border-radius: 1.025rem;

            // background-color: color-mix(in srgb, var(--finally-bc-color) 100%, #D1C4E9 5%);
            background-color: var(--form-field-bc-color);

            --squircle-smooth: 1;
            --squircle-radius: 1.025rem;

            mask-image: paint(squircle);

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: 0.8rem;
            line-height: 100%;
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            color: var(--text-color-100);

            &::placeholder {
                @include transition-all(color);
                will-change: color;

                color: var(--text-color-60);
            }

            &:focus,
            &:active {
                outline: none;
            }

            &:focus::placeholder {
                @include transition-all(color);
                color: var(--text-color-87);
            }

            &:is(:-webkit-autofill, :autofill) {
                font-size: 0.8rem;
            }

            @include media-breakpoint-down(lg) {
                padding: 0.625rem 0.875rem;

                border-radius: 0.625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.625rem;

                mask-image: paint(squircle);
                mask-image: none;
            }

            @include media-breakpoint-down(md) {
                padding: 0.525rem 0.575rem;

                border-radius: 0.15rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.15rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;

                padding: 0.9rem 1rem;

                border-radius: 1.025rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;
            }

            // @include media-breakpoint-down(sm) {
            //     padding: .625rem .875rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: .625rem;
            // }
        }

        #my-feedback-form-submit-button {
            @include transition-all(background-color, color, transform);
            will-change: background-color, color, transform;
            // font-size: inherit;

            margin-top: 1.25rem;

            width: 100%;
            height: auto;

            padding: 1rem 1.125rem;

            border: none;
            border-radius: 1.25rem;

            --squircle-smooth: 1;
            --squircle-radius: 1.25rem;

            mask-image: paint(squircle);

            background-color: var(--primary-color);

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: 0.8rem;
            line-height: var(--my-text-paragraph-line-height);
            letter-spacing: var(--my-text-paragraph-letter-spacing);

            text-align: center;
            color: var(--text-color-alt-87);

            text-transform: none;

            &:hover {
                color: var(--text-color-alt-100);
                background-color: var(--primary-color--hover);

                transform: scale(1.025);

                @include media-breakpoint-down(sm) {
                    transform: none;
                }
            }

            &:active {
                background-color: var(--primary-color--active);

                transform: scale(0.975);
            }

            &:disabled {
                background-color: var(--primary-color--disabled);
                color: var(--text-color-alt-60);

                cursor: not-allowed;

                transform: none;
                pointer-events: none; // Это дополнительно предотвращает взаимодействие с кнопкой
            }

            @include media-breakpoint-down(lg) {
                padding: 0.8rem 1rem;

                border-radius: 0.625rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.625rem;

                mask-image: paint(squircle);
            }

            @include media-breakpoint-down(md) {
                padding: 0.75rem 0.75rem;

                border-radius: 0.37rem;

                --squircle-smooth: 0.78;
                --squircle-radius: 0.37rem;

                mask-image: paint(squircle);
            }

            // @include media-breakpoint-down(xl) {
            //     margin-top: 1.5rem;

            //     height: 3.8rem;

            //     border-radius: .625rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: .625rem;

            //     mask-image: paint(squircle);

            //     font-size: 1rem;
            // }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;

                --squircle-smooth: 0;
                --squircle-radius: 0;

                mask-image: none;

                border-radius: 1.15rem;

                padding: 0.9rem 1rem;

                // border-radius: .15rem;

                // --squircle-smooth: 0.78;
                // --squircle-radius: .15rem;

                // mask-image: paint(squircle);
            }
        }

        .checkbox-privacy-policy {
            @include transition-all(color);
            will-change: color;
            // margin-top: .6rem;

            display: inline-flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            // margin-bottom: 1rem;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: 0.8rem;
            letter-spacing: 0.05rem;

            text-align: center;
            color: var(--text-color-87);

            input[type="checkbox"] {
                @include transition-all(background-color, border-color);
                will-change: background-color, border-color;

                display: inline-block;

                appearance: none;

                min-width: 1.5rem;
                width: 1.5rem;

                height: auto;

                aspect-ratio: 1 / 1;

                background-color: var(--form-field-bc-color);

                border: 0.125rem solid var(--primary-color);
                border-radius: 50%;

                position: relative;
                cursor: pointer;

                margin-right: 0.75rem;

                &:hover {
                    border: 0.125rem solid var(--primary-color--hover);
                }

                &:active {
                    border: 0.125rem solid var(--primary-color--active);
                }

                @include media-breakpoint-down(md) {
                    border: 0.135rem solid var(--primary-color);

                    margin-right: 0.5rem;
                }

                @include media-breakpoint-down(sm) {
                    min-width: 1.75rem;
                    width: 1.75rem;
                }
            }

            input[type="checkbox"]:checked {
                background-color: var(--primary-color);
                border: none;
            }

            // input[type="checkbox"]::before {
            //     @include transition-all(opacity);

            //     opacity: 0; // Прозрачный элемент
            // }

            // input[type="checkbox"]:not(:checked)::before {
            //     @include transition-all(opacity);

            //     opacity: 0; // Прозрачный элемент
            // }

            input[type="checkbox"]:checked::before {
                @include transition-all(border-color);
                will-change: border-color;

                // opacity: 1; // Видимый элемент

                content: "";
                position: absolute;

                width: 0.4rem;
                height: 0.8rem;

                top: 20%;
                left: 37%;

                border: solid var(--text-color-alt-100);
                border-width: 0 0.125rem 0.125rem 0;

                transform: rotate(45deg);

                @include media-breakpoint-down(md) {
                    border-width: 0 0.135rem 0.135rem 0;
                }

                @include media-breakpoint-down(sm) {
                    top: 19%;
                    left: 39%;

                    width: 0.42rem;
                    height: 0.9rem;
                }
            }

            label {
                margin: 0;

                cursor: pointer;
            }

            a {
                @include transition-all(text-decoration, color);
                will-change: text-decoration, color;

                color: var(--primary-color);
                text-decoration: none;

                &:hover {
                    color: var(--primary-color--hover);
                    text-decoration: underline;
                }

                &:active {
                    color: var(--primary-color--active);
                    text-decoration: underline;
                }
            }

            // @include media-breakpoint-down(xxl) {
            //     font-size: 1rem;
            // }

            // @include media-breakpoint-down(xl) {
            //     font-size: .91rem;
            // }

            // @include media-breakpoint-down(lg) {
            //     font-size: .86rem;
            // }

            @include media-breakpoint-down(sm) {
                font-size: 0.9rem;
            }
        }
    }
}
