@use '../../abstracts/mixins' as mixin;

section {
    // * base section
    padding-top: calc(3 * var(--typography__global__line-height));

    &:first-of-type {
        // * default section | first section on page

        // prettier-ignore
        padding-top: calc((3 * var(--typography__global__line-height)) + var(--layout__header__navigation-bar-height));

        box-shadow: 0 -8px 10px var(--color__global__shadow);
    }

    &:last-of-type {
        // * default section | last section on page
        padding-bottom: calc(3 * var(--typography__global__line-height));
        box-shadow: 0 8px 10px var(--color__global__shadow);
    }

    &#hero {
        // * hero section
        // * top and bottom padding

        padding-bottom: calc(3 * var(--typography__global__line-height));
    }
}
